.g-block {
background-color: #0000;
}

.ga-content {
    background: var(--bg);
    color: var(--txt);
}

.equal-height .g-block {
    display: flex;
    min-height: 100%;
}


.coba {
    animation-name: coba;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}

@keyframes coba  {
    0% {  transform: translateY(-20px); }
    100% { transform: translateY(0);  }
}