#g-floats,.ga-floats {
    overflow:hidden;
    height:0;
    width:0;
}

.ga-floats .g-particle >div,
#g-floats .g-particle >div {
    position: absolute;
}

#g-floats .branding {
    background: red;
    padding: 1rem;
    color: #fff;
    right: 1rem;
    top: 5rem;
}


.g-error #g-container-main {

    height: 100vh;
    width: 100%;
    background:#fff;
}



.g-error #g-main  {

    text-align: center;
    height: 100vh;
    display: flex;
    justify-content:flex-start;
    align-items:center;
}

.g-error  h1 { font-size:3rem; text-transform: capitalize; color:#0009; margin: 0}

.f-table-d {
    display: flex;
    flex-direction: row;
    flex-flow:wrap
}

.f-table-d div {
    flex: 1 1 15%;
    text-align: center;
    max-width: 15%;
    margin-bottom: 1rem;
}

.f-table-d input {
    font-size: .85rem;
    margin: 0 1rem;
    width: calc(100% - 2rem);
}

#ga-branding {
    display: flex;
    flex-flow:wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

#ga-branding .site-logo {
    flex-shrink: 1;
    margin-right: .5rem;
}

#ga-branding .site-logo i.icon,
#ga-branding .site-logo svg,
#ga-branding .site-logo img {
    height: 100%;    
    margin: 0 1rem;
    width: calc(100% - 1rem);
}

#ga-branding .site-logo i.icon {
    display: inline-flex;
    align-items: center;
}

#ga-branding a {
    border: none;
    outline: none;
}

#ga-branding .wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction:column;
    flex-grow: 1;
    justify-content: center;
    font-weight: 300;
    line-height: 1.2;
}

#ga-branding h1 { 
    font-weight: 400;
    margin: 0 0 .125rem 0; 
    font-size: 1.5em; 
}

#ga-branding .subtext { 
    font-size: .85em;
    margin: 0;
}


#ga-branding h1 small {
    display:block;
    font-size: .625rem;
    text-transform:uppercase;
}