// REQUIRED DEPENDENCIES - DO NOT CHANGE

@import "dependencies";

/* long live lazy ------------------------------ */ 

@mixin ga-nono() {
	outline: none;
    border: none;
    box-shadow: none;
	box-sizing: border-box;
	
}

@mixin cover-block() {
	width: 100%;
	padding: 6rem;
	text-align: center;
	display: block;
}

@mixin flush() {
	padding: 0 !important;
	margin: 0 !important;
}

/* custom ------------------------------ */ 

@import 'custom/feature';
@import 'custom/search';
@import 'custom/media';
@import 'custom/gallery';
@import 'custom/slider';
@import 'custom/pinned';
@import 'custom/treelist';
@import 'custom/etc';
@import 'custom/tocbot';

@import 'custom/clean';

@import 'custom/tweak';


.fix-leftbar {
	position: fixed;
	overflow: auto;
	top: 0;
	left:0;
	height: 100vh;
	background-color: $box1-background;
	padding-bottom: 2rem;


}

/* added variations ------------------------------ */ 

.button-alike {
	border-bottom: 1px solid rgba(0,0,0,0.3);
	border-right: 1px solid rgba(0,0,0,0.3);
	border-top: 1px solid rgba(255,255,255,0.3);
	border-left: 1px solid rgba(255,255,255,0.3);
}

.full-height {
	height: 100vh;
}
