*, *::before, *::after {
	box-sizing: border-box;
}

.presentation-iframe {
	width: 100%;
	width: -moz-available;
	width: -webkit-fill-available;
	width: fill-available;
	height: 100%;
	height: -moz-available;
	height: -webkit-fill-available;
	height: fill-available;
}

button {
	text-transform: capitalize;
}

.ga-large {
	padding: 1rem 1.5rem;
	font-size: 1.2rem }

.ga-default {
	padding: .5rem 1rem;
	font-size: 1rem }

.ga-small {
	padding: .5rem .75rem;
	font-size: .9rem }

.ga-xsmall {
	padding: .25rem .5rem;
	font-size: .8rem }

.has-decktop .g-offcanvas-toggle {
	position: fixed;
	z-index: 999;
}

.g-offcanvas-open body {
	margin-top: 0 !important;
}

#g-navigation .g-toplevel {
	flex-flow: row !important;
}



#g-main {
	[class^='box'] { padding: 1rem; margin-bottom: 1rem; }
}


.notices {
	padding: 1px 1px 1px 30px;
	margin: 15px 0;
}


.gasken {
	
	[class^='ga-cover'] {
		background-size: cover !important;
		background-position: 50% 50% !important;
		background-repeat: no-repeat !important;
		background-blend-mode: unquote($cover-blend-mode) !important;
	}

	.ga-cover-1 { background-image: url($cover-background1) !important; }
	.ga-cover-2 { background-image: url($cover-background2) !important; }
	.ga-cover-3 { background-image: url($cover-background3) !important; }
	.ga-cover-4 { background-image: url($cover-background4) !important; }



}

/* added variations */ 

.button-alike {
	border-bottom: 1px solid rgba(0,0,0,0.3);
	border-right: 1px solid rgba(0,0,0,0.3);
	border-top: 1px solid rgba(255,255,255,0.3);
	border-left: 1px solid rgba(255,255,255,0.3);
}

.full-height {
	height: 100vh;
}

.deck-top {
	position: fixed !important;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 102 !important;
}

.deck-top.scrolled { opacity: .7 }
.deck-top:hover.scrolled { opacity: 1 }

.deck-top .g-menu-item-title {
	text-transform: capitalize;
}

.on-left ul:not(.g-sublevel) {
	float: left;
}

.on-right ul:not(.g-sublevel) {
	float: right;
}

/* fix-a-fix */ 

.menu-item-particle .search-wrapper {
	margin: -.25rem 1rem }

main {
	min-height: 90vh;
}

#g-navigation form#search {
	background-color: $navigation-background;
	border-radius: 0.1875rem;
	display: inline-table;
	margin: -1rem }

#g-navigation form#search input {
	border: none;
	background-color: #0000;
	box-shadow: none;
	width: auto }

#g-navigation form#search::after {
	clear: both;
	display: inline-table;
	color: #000;
	padding: 0 .5rem;
	font-family: FontAwesome, serif;
	color: $navigation-text-color;
	content: "\f002";
}

#g-navigation form#search:hover,
#g-navigation form#search:hover input {
	background-color: $main-background }

#g-navigation form#search:hover::after {
	color: $navigation-background;
}

.ga-bgrimg {
	display: flex;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: #00000099;
	background-blend-mode: soft-light;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	transition: all 1.5s ease;
}

.ga-features,
.ga-features h1,
.ga-features h2,
.ga-features h3,
.ga-features h4,
.ga-features h5,
.ga-features h6 { color: $main-background }

.ga-showcase .block,
.ga-features .block {
	width: 100%;
	padding: 6rem;
	text-align: center;
	display: block;
}

.ga-features .feature-items {
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;
	justify-content: center;
}

.ga-features .feature {
	padding: 1rem 2rem;
	width: 25%;
	justify-content: space-around;
	text-align: center;
}

.ga-features .feature img {
	width: 100px;
}

.ga-features .feature h4 {
	margin-bottom: 0 }

.ga-features .feature p {
	font-size: .9rem;
	margin-top: .5rem }

.ga-features .desc .headline {
	font-size: 6rem }

.ga-features i.fa {
	font-size: 3rem;
}

#g-showcase.flush .g-container,
 #g-feature.flush .g-container {
	width: 100% !important;
}

#g-showcase.flush .g-content,
#g-feature.flush .g-content {
	padding: 0 !important;
	margin: 0 !important;
}

.page-gallery {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
}

.page-gallery .item {
	list-style-type: none;
	margin: 0 .5rem 1rem .5rem;
	padding: 0;
}

.page-gallery .item .image-surround {
	border: 1px solid #ddd;
	width: 300px;
	padding: .25rem;
	text-align: center;
}

.page-gallery .item a {
	display: block;
}
