$content-padding: 0.5rem !default;
$content-margin: 0.5rem !default;

$base-background: #f7f7f7 !default;
$base-offwhite: $base-background !default;
$aside-background: $base-background !default;
$navigation-background: $base-background !default;
$header-background: $base-background !default;
$footer-background: $base-background !default;

$base-text-color: #111111 !default;
$aside-text-color: $base-text-color !default;
$header-text-color: $base-text-color !default;
$navigation-text-color: $base-text-color !default;
$footer-text-color: $base-text-color !default;

$base-neutral: #ccc !default;
$base-accent: #fc3 !default;
$base-accent-2: #d22 !default;

$navigation-active-color: false !default;
$navigation-hover-color: false !default;

$font-base: clearsans, sans-serif !default;
$font-size: 1rem !default;
$font-heading: false !default;

$breakpoints-large-desktop-container: 75rem !default;
$breakpoints-desktop-container: 60rem !default;
$breakpoints-tablet-container: 48rem !default;
$breakpoints-large-mobile-container: 30rem !default;
$breakpoints-mobile-menu-breakpoint: 48rem !default;

$color-yellow: #ffc20a !default;
$color-red: #cc2936 !default;
$color-blue: #3c60ad !default;
$color-green: #44af69 !default;

$accent-color-1: #402050 !default;
$accent-color-2: false !default;
$accent-color-3: false !default;
$accent-color-4: false !default;

$cover-background: textcolor-tint($base-background) !default;
$cover-blend-mode: soft-light !default;
$cover-image-1: false !default;
$cover-image-2: false !default;
$cover-image-3: false !default;
$cover-image-4: false !default;

$menu-col-width: 180px !default;
$menu-animation: g-fade !default;
$menu-hide-on-mobile: 0 !default;

$offcanvas-width: 70vw !default;
$offcanvas-overlay: #000011 !default;

$toggle-icon: fa fa-bars !default;
$toggle-width: 3rem !default;
$toggle-height: 3rem !default;
$toggle-visibility: 1 !default;
$toggle-background: rgba(0,0,0,0) !default;
$toggle-color: $base-text-color !default;

$content-padding: .5rem !default;
$content-margin: .5rem !default;
$content-border-radius: .25rem !default;

/* suggest ---------------------------- */

$box-height: 80vh;

/* inheritage ---------------------------- */


$primary-color: $base-accent;
$secondary-color: $base-accent-2;

$leading-margin: $content-padding + $content-margin;
$border-radius: $content-border-radius;
$line-height: ($font-size + 1.0)/1rem;


/* need by grav  ---------------------------- */

$padding-horiz: 6rem;
$padding-vert: 3rem;
$border-color: #0002;

$core-font-size: $font-size;
$core-accent: $accent-color-1;
$content-padding: $content-padding;
$content-margin: $content-margin;

/* hydrogen compatible ---------------------- */

$feature-background: $accent-color-1 !default;
$feature-text-color: $base-text-color !default;
$showcase-background: $feature-background !default;
$showcase-text-color: $feature-text-color !default;
$subfeature-background: $feature-background !default;
$subfeature-text-color: $feature-text-color !default;

$base-border-color: $border-color;
$border-color-focus: $base-border-color;
$border-color-hover: $base-border-color;
$base-box-shadow: $border-color;

