// empty string issue

$accent-color-1: if-is-empty($accent-color-1, $core-accent);
$accent-color-2: if-is-empty($accent-color-2, $accent-color-1);
$accent-color-3: if-is-empty($accent-color-2, $accent-color-2);
$accent-color-4: if-is-empty($accent-color-2, $accent-color-4);

$header-text-color: if-is-empty($header-text-color, $base-text-color);
$footer-text-color: if-is-empty($footer-text-color, $base-text-color);
$sidebar-text-color: if-is-empty($sidebar-text-color, $base-text-color);
$navigation-text-color: if-is-empty($navigation-text-color, $base-text-color);

$base-heading-font: if-is-empty($base-heading-font, $base-font);


@include import-font($base-font);

@if isnt-same($base-heading-font, $base-font) {
	@include import-font($base-heading-font);
}


:root {
	@include hsl-bg($base-background,$base-text-color);

	--yellow: $color-yellow;
	--red: $color-red;
	--blue: $color-blue;
	--green: $color-green;
	
	--accent-1: $accent-color-1;
	--accent-2: $accent-color-2;
	--accent-3: $accent-color-3;
	--accent-4: $accent-color-4;

	--padding: $leading-margin;
	--margin: 0;
}


@import "animation";
@import "core";
@import "nav";
@import "sections";
@import "color";
@import "buttons";
@import "forms";
@import "list";
@import "tooltip";
@import "scrollbars";
@import "offcanvas";
@import "modal";
@import "modular";
@import "cards";
@import "utilities";
@import "etc";

@import "print";
