%button-set {
	border-radius: $border-radius;
	padding: 0.25em 0.5em;
    word-break:keep-all;
    white-space:pre;
	border: 1px outset var(--bg-dark-1);

	&:focus {
		outline: 1px dotted #fff2;
	}
	
	&:active:not(.toggle) {
		border: 1px inset var(--bg-dark);
	}

	&:hover:not(.toggle) {
		background-color: var(--bg-dark) !important;
	}
}

#{$all-buttons} {
	color: var(--txt);
	border: 1px outset var(--bg-dark-1);
	background-color: var(--bg-a1);
	
	@extend %button-set;

	&.toggle { background-color: #0000; border:none; outline: none; }

	&.xsmall { padding: 0 .125em; font-size: .75em; }
	&.small { padding: .125em .25em; font-size: .9em; }
	&.large { padding: 0.5em 1em; font-size: 1.2em; }
	&.xlarge { padding: 0.75em 1.5em; font-size: 1.5em; }
	
}




html {
	
	.naked {
		background-color: #0000;
	}
	
	.alert-warning { 
		--bg-a1: $color-yellow; 
		--bg-a2: darken($color-yellow,15%);
		--white: maxlighten($color-yellow,93);
		--txt: textcolor-tint($color-yellow);
		}
	.alert-warning { 
		&:before { content: '\f071'; }
		}

	.alert-error { 
		--bg-a1: $color-red; 
		--bg-a2: darken($color-red,15%);
		--white: maxlighten($color-red,93);
		--txt: textcolor-tint($color-red);  
		}
	.alert-error { 
		&:before { content: '\f188'; }
		}	

	.alert-info { 
		--bg-a1: $color-blue; 
		--bg-a2: darken($color-blue,15%);
		--white: maxlighten($color-blue,93);
		--txt: textcolor-tint($color-blue);
	}

	.alert-info { 
		&:before { content: '\f05a'; }
		}

	.alert-success { 
		--bg-a1: $color-green;
		--bg-a2: darken($color-green,15%);
		--white: maxlighten($color-green,93);
		--txt: textcolor-tint($color-green);
	}
	.alert-success { 
		&:before { content: '\f046'; }
		}

}

.alert {
	background-color: var(--bg-a2);
	color: var(--txt);
	border: 1px solid #0005;
	font-size: .8em;
	border-radius: $border-radius;	
	padding: $leading-margin/2 $leading-margin;
	margin: $leading-margin 0;
	&:before {
		font-family:'FontAwesome';
		display: inline-flex;
		padding: $content-padding/2;
		margin-right: $content-padding;
		content: '\f071';
		color: var(--txt);
	}		
}


.notices {

	padding: $leading-margin;
	margin: $leading-margin 0;
	font-size: .8em;

	border: 1px solid var(--bg-a1);

	border-radius: $border-radius;	

	background-color: var(--white);
	color: #000;
	border-left: $leading-margin/2 solid var(--bg-a1);
	
	code { color: #c11; vertical-align: middle; }
	p { margin: 0 }
	a { color: #379; }
	
}


.ga-mobile a.button,
.ga-small a.button {
    display:block;
	margin-right:0;
	margin: 0;
}

:hover a.button, a.button:hover { text-decoration: none !important }

p button,p .button { margin-right: .5rem }
