%page-main-height {
	min-height: calc(100vh - 4rem);
	padding-bottom: 5rem;
}

body {
	font-family: get-font-family($base-font);
	font-weight: $font-weight-light;
	font-size: $base-font-size;
	line-height: $line-height;
	text-rendering: optimizeLegibility;	
	background-color: var(--bg);
	color: var(--txt);
}


#g-container-main,
main {
	background-color: var(--bg);
	color: var(--txt);
}

main {
	@extend %page-main-height;
}

footer {
	font-size: $base-font-size * 0.8;
}

@if isnt-same($base-offwhite, $base-background) {

	body {
		background-color: $base-offwhite;
	}
	
}


pre { 
	background-color: var(--bg-dark); 
	border-left: 1px solid var(--bg-dark-1);
	font-size: .9em;
	@extend %content-box; 
}

blockquote { 
	background-color: var(--bg-light-1);
	border: 1px solid var(--bg-a2);
	border-left: $leading-margin solid var(--bg-a2);
	padding: $leading-margin $leading-margin*2;
	border-radius: $border-radius;
	margin: 0 0 $leading-margin 0;
	
	cite { 
	    display: block; 
	    text-align:right; 
	    margin: $leading-margin/2 0; 
	    font-size: .9em; 
	   	font-weight: $font-weight-regular;
       	color: var(--txt-a2);
	    &:before {
	    	content: "-- ";
			color: var(--txt);
	    }
    }
}

table {
	@extend %content-box; 
	background-color: var(--bg-dark); 
	th,td { padding: $leading-margin/2; border: 1px solid var(--bg-dark); }
	th { background-color: var(--dark); }
	tr:nth-child(odd) { background-color: var(--bg-light-1); }
	tr:nth-child(even) { background-color: var(--bg-dark-1); }
	th { background-color: var(--bg-dark); }
}


code { color: var(--txt-a1); vertical-align: text-top; }

#{$all-heading} {

	@if isnt-same($base-heading-font, $base-font) {
		font-family: get-font-family($base-heading-font);
	}

	line-height: 1em;

	color: var(--txt-t2);
	margin: 1em 0;
	font-weight: $font-weight-light;
}


main h1:first-child,
.title { 
	border-bottom: 1px solid var(--bg-light); 
	margin-top:0;
	letter-spacing: -0.05em;
}


h1 { font-size: 5em;  }
h2 { font-size: 2.2em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.3em; }

h1,h2 { margin-bottom: $leading-margin*1.5;	font-weight: $font-weight-light; }
h4,h3 { margin-bottom: $leading-margin }
h5,h6 { margin-bottom: 0; font-size: 1em; font-weight: $font-weight-regular; }
h6 { text-decoration: underline }

h1,h2,h3,h4,h5 { text-transform: capitalize; }

a { 
	&:not(.button) {
		color: var(--txt-co);
		transition: all .5s linear;
		border-bottom: 1px dotted #0000;
	}
	
	&:hover { color: var(--txt-t1); }
	&:active { color: var(--txt-t2); }
}

main p { margin-top:0 }

p:hover a:not(.button) { 
	border-bottom: 1px solid var(--txt-t1);
}

hr { 
	border:none;
	margin: 2*$leading-margin 0; 
	border-top: 1px solid var(--dark); 
}


small {
	font-size: $core-font-size - 0.125;
}

sub,
sup {
	font-size: $core-font-size - 0.250;
}

code,
kbd,
pre,
samp {
	font-family: $font-family-mono;
}

