
select { margin-bottom: 0 }

fieldset {
	margin: 0;
	padding: 0;
}



textarea, select, select[multiple=multiple], #{$all-text-inputs} {
	width: 100%;
	border: 1px solid var(--bg-dark-1);
	background-color: var(--white);
	color: var(--black);
	padding: 0.25em 0.5em;
	border-radius: $border-radius;
}


form {

	label { font-weight: $font-weight-regular; color: var(--txt-a1); }
	
	p:hover label { color: var(--txt-a2); text-decoration: underline; }
	
	:focus { outline: none; }
	
	p {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: space-between;
		>* {
			&:not([type*='reset']):not([type*='submit']) {
				display: inline-flex;
				width: 50%;
			}
		}
		>label {
			display: inline-flex;
			margin-bottom: 0;
		}
	}
	
	.inline {
		#{$all-text-inputs} { 
			flex-grow: 1; width: auto; 
			border-right: none; 
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			
		}
		#{$all-buttons} { 
			border: 1px solid var(--bg-dark); 
			width: auto;
			border-left: none; 
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}		
	}
	

	.group {
	
		justify-content: flex-start;
		
		* {
			width: auto !important;
		}

	}
	
	.value {

		justify-content: flex-start;
		width: 50%;
		margin-left: 50%;
		>* {
			width: auto;
			margin-right: .5rem;
		}
		>label {
			font-weight: normal;
		}
	}
	
	.top {
		>* {
			align-self: flex-start;
		}
	}
	
	.full {
	
		flex-flow: column;
		
		* {
			width: 100% !important;
		}
	}
	
	.align-right { position: absolute; right: 0; }
	.align-left { position: absolute; left: 0; }

}
