// Utilities

%f-for-fix {

	.f-flush { margin: 0 -1rem; }
	.f-content { margin:0; padding: 1rem; height:100%; color: var(--txt); }
	.f-small-font * { font-size: .8em; }

}

html {

	@extend %f-for-fix;
		
	.padding { padding: $leading-margin; }

	.center { text-align: center !important; }
	.align-right { text-align: right !important; }
	.align-left { text-align: left !important; }
	.full-height { min-height: 100vh; }
	.nomarginall { margin: 0 !important; }
	.nomarginall .g-content { margin: 0 !important; }
	.nopaddingall { padding: 0 !important; }
	.nopaddingall .g-content { padding: 0 !important; }

	.hidden,.hide { display: none; visibility: hidden; }

	.equal-height { 
		display: -webkit-box; display: -moz-box; display: box; 
		display: -webkit-flex; display: -moz-flex; 
		display: -ms-flexbox; display: flex; 
		}
	
	.equal-height .g-content { flex-basis: 100%; }



	.txt-light { color: var(--txt-light); }
	.txt-dark { color: var(--txt-dark); }
	.txt-a1 { color: var(--txt-a1); }
	.txt-a2 { color: var(--txt-a2); }
	.txt-t1 { color: var(--txt-t1); }
	.txt-t2 { color: var(--txt-t2); }
	.txt-co { color: var(--txt-co); }

	.bg { background-color: var(--bg);  }
	.bg-light { background-color: var(--bg-light); }
	.bg-dark { background-color: var(--bg-dark); }
	.bg-light-1 { background-color: var(--bg-light-1); }
	.bg-dark-1 { background-color: var(--bg-dark-1); }
	.bg-a1 { background-color: var(--bg-a1); }
	.bg-a2 { background-color: var(--bg-a2); }
	.bg-t1 { background-color: var(--bg-t1); }
	.bg-t2 { background-color: var(--bg-t2) !important; }
	.bg-co,
	.primary { background-color: var(--bg-co) !important; }
	
	.secondary { background-color: #0000 !important; }

	.bg-white { background-color: var(--white); color: var(--black); }
	.bg-black { background-color: var(--black); color: var(--white); }

	.txt-white { color: var(--white); --txt: #fff; }
	.txt-black { color: var(--black); --txt: #000; }
}
