// cover

[class*='cover-'] {
	background-size: cover !important;
	background-position: 50% 50% !important;
	@if ($cover-blend-mode == 'auto') {
		background-blend-mode: soft-light; 
		background-color: rgba(0,0,0,0.75) !important;
	} @else {
		background-blend-mode: unquote($cover-blend-mode); 
		background-color: var(--bg-dark) !important;
	}
}

@if ($cover-image-1) {
	.cover-1 { background-image: url($cover-image-1); }
}

@if ($cover-image-2) {
	.cover-2 { background-image: url($cover-image-2); }
}

@if ($cover-image-3) {
	.cover-3 { background-image: url($cover-image-3); }
}

@if ($cover-image-4) {
	.cover-4 { background-image: url($cover-image-4); }
}



.flush {
 .g-container {
	> .g-grid {
	 > .g-block {
		> .g-content {
		 margin: 0;
		 padding: 0;
		}
	 }
	}
 }
}

.moduletable, .widget {
 &[class*="box"], &[class*="shadow"] {
	padding: $content-padding;
	margin: $content-margin;
 }
}

.shadow {
 &.moduletable, &.widget, &.g-outer-box, > .g-content {
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
 }
}

.shadow2 {
 &.moduletable, &.widget, &.g-outer-box, > .g-content {
	box-shadow: 0 0 4px rgba(0,0,0,0.15);
 }
}

.disabled {
 &.moduletable, &.widget, &.g-outer-box, > .g-content {
	opacity: 0.4;
 }
}

.square {
 &.moduletable, &.widget, &.g-outer-box, > .g-content {
	border-radius: none;
 }
}

.rounded {
 &.moduletable, &.widget, &.g-outer-box, > .g-content {
	border-radius: $core-border-radius;
 }
}

.full-width { -webkit-flex-grow: 0; -moz-flex-grow: 0; flex-grow: 0; -ms-flex-positive: 0; -webkit-flex-basis: 100%; -moz-flex-basis: 100%; flex-basis: 100%; -ms-flex-preferred-size: 100%; }

.full-width .g-block { -webkit-flex-grow: 0; -moz-flex-grow: 0; flex-grow: 0; -ms-flex-positive: 0; -webkit-flex-basis: 100%; -moz-flex-basis: 100%; flex-basis: 100%; -ms-flex-preferred-size: 100%; }



// From gaskeun ---------------------------------- 

.fix-at-top { @extend %fix-at-top; }
.fix-at-left {
    overflow-y: auto;
    height: calc(100% - 67px);
	position:fixed;
	backround: #000;
}

@media only all and (max-width: $breakpoints-mobile-menu-breakpoint) {
	.fix-at-left {
		width: 80%;
	}
}

.dock-top {
	position: relative;
	z-index: 102 !important;
	&.pinned {
		position: fixed !important;
	}
}

