[data-height] {
    --height: attr(data-height);
    height: var(--height);
}

[data-width] {
    --width: attr(data-width);
    width: var(--width);
}

html .content-padding {
	padding: calc(2 * var(--padding)) !important;
}