%content-padding {
	margin: var(--margin);
	padding: var(--padding);
}

%no-content-padding {
	margin:0 !important; 
	padding: 0 !important;
}

.h-padding {
	padding-left: calc(2 * var(--padding));
	padding-right: calc(2 * var(--padding));
}

.v-padding {
	padding-top: calc(2 * var(--padding));
	padding-bottom: calc(2 * var(--padding));
}

.c-padding {
	padding: calc(2 * var(--padding));
}

%fix-at-top {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 20;
}


%flex-vcenter {
	display: flex;
	height: 100%;
	align-items: center;
}
