:root {
	--margin: $content-margin;
	--padding: $content-padding;
	--lead: $content-margin+$content-padding;
	--line-height: $line-height;
	--bg: $base-background;
	--txt: $base-text-color;
	--d0: $base-neutral;
	--d1: darken($base-neutral,10%);
	--d2: darken($base-neutral,20%);
	--b1: #000;
	--w1: #fff;
	--hilite: #fffd;
	--shade: #0002;
	--shadow: #000C;
	--outline: #0004;
	--primary: $primary-color;
	--primary-txt: textcolor-tint($primary-color);
	--secondary: $secondary-color;
	--secondary-txt: textcolor-tint($secondary-color);
}