
@mixin ga-button($background, $black: $black, $white: $white) {
	
	background-color: $background;
	color: if(lightness($background) > 50, $black, $white);	
	text-shadow: 0 1px 3px darken($background,10%);	
	
	&:hover,&.hover {
		background-color: if(lightness($background) > 50, darken($background,5%), lighten($background,15%) );
		text-shadow: 0px 1px 3px if(lightness($background) > 50, darken($background,25%),lighten($background,25%));
	}
	&:active,&.active {
		background-color: if(lightness($background) > 50, darken($background,5%), lighten($background,15%) );
		text-shadow: 0px -1px 3px if(lightness($background) > 50, darken($background,25%),lighten($background,25%));
	}
	
}

@mixin ga-notice($color) {
	color: $color;
	border-left: 10px solid $color;
	background-color: if(lightness($color) < 50, lighten($color,50%), darken($color,25%));
}

@mixin ga-box($background, $white: $white, $black: $black) {
	background-color: $background;
	color: if(lightness($background) < 50, $white, $black );
}

