%dropdown-column {
	width: $menu-col-width;
}

// Main Nav Colors
@mixin main-nav-colors(
	$section-background: $navigation-background, 
	$section-text-color: $navigation-text-color, 
	$section-hover-background: $navigation-hover-background, 
	$section-hover-color: $navigation-hover-color, 
	$section-hover-sub-background: $navigation-hover-sub-background,
	$section-active-background: $navigation-active-background, 
	$section-overlay: $navigation-overlay,
	$section-fontsize: $navigation-fontsize) {

	h1, h2, h3, h4, h5, h6, strong {
		color: $section-text-color;
	}

	.g-toplevel {
		> li {
			> .g-menu-item-container {
				color: $section-text-color;
				font-size: $section-fontsize;
			}
			&:not(.g-menu-item-type-particle):not(.g-menu-item-type-module) {
				&:hover {
					background-color: $section-hover-background;
					> .g-menu-item-container {
						color: $section-hover-color;
					}
				}

				&.active {
					background-color: $section-active-background;

					> .g-menu-item-container {
						color: darken($section-text-color,25%);
					}

					&.g-selected {
						background-color: $section-hover-background;

						> .g-menu-item-container {
							color: $section-hover-color;
						}
					}
				}
			}
		}
	}

	.g-dropdown {
		background-color: $section-background;
		border-top: 1px solid $section-overlay;
	}

	.g-sublevel {
		> li {
			> .g-menu-item-container {
				color: $section-text-color;
				font-size: $section-fontsize;				
			}

			&:not(.g-menu-item-type-particle):not(.g-menu-item-type-module) {
				&:hover, &.active {
					background-color: $section-hover-sub-background;
				}
			}
		}
	}
}

// Touch Indicators
@mixin main-nav-indicators($section-background: $navigation-background, $section-text-color: $navigation-text-color) {
	.g-menu-hastouch {
		.g-toplevel {
			> li {
				&.g-menu-item-link-parent {
					> .g-menu-item-container {
						> .g-menu-parent-indicator {
							border: 1px solid lighten($section-background, 6%);
							background: darken($section-background, 4%);
							&:hover {
								background: darken($section-background, 8%);
							}
							border-radius: $core-border-radius;
							margin: -0.2rem 0 -0.2rem 0.5rem;
							padding: 0.2rem;
							&:after {
								text-align: center;
							}
						}
					}
				}
				&.active {
					&.g-menu-item-link-parent {
						> .g-menu-item-container {
							> .g-menu-parent-indicator {
								color: $section-text-color;
							}
						}
					}
				}
			}
		}
	}
	.g-menu-hastouch .g-standard, .g-fullwidth {
		.g-sublevel {
			> li {
				&.g-menu-item-link-parent {
					> .g-menu-item-container {
						> .g-menu-parent-indicator {
							border: 1px solid lighten($section-background, 6%);
							background: darken($section-background, 4%);
							&:hover {
								background: darken($section-background, 8%);
							}
							border-radius: $core-border-radius;
							padding: 0.1rem;
							margin-top: -0.1rem;
							margin-right: -0.1rem;
							&:after {
								text-align: center;
							}
						}
					}
				}
			}
		}
	}
}