%var-base {
	background-color: var(--bg);
	color: var(--text);
}

%var-link {
	a { color: var(--link) }
	h1,h2,h3,h4,h5,h6 { color: var(--htext) }
}









@mixin link($color: $link-color) {
	&:hover { color: lighten($color, 10%);  }
	&:focus { color: lighten($color, 5%); }
	&:active { color: darken($color, 15%); }
}

@mixin clean() {
	background: none !important;
	outline: none !important;
	border: none !important;
}


@mixin nofirstchild() {
	:first-child { border-bottom: none }
}

