$colours: (
	'red': (
		color: $colours-red,
		alias: 'error',
		notices: true,
		table: true,
		button: true,
		alert: true,
	),
	'yellow': (
		color: $colours-yellow,
		alias: 'warning',
		notices: true,
		table: true,
		button: true,
		alert: true,
		section: true,
	),
	'blue': (
		color: $colours-blue,
		alias: 'info',
		notices: true,
		table: true,
		button: true,
		alert: true,
		section: true,
	),
	'green': (
		color: $colours-green,
		alias: 'success',
		notices: true,
		table: true,
		button: true,
		alert: true,
		section: true,
	),
	'accent-1': (
		color: $accent-color-1,
		alias: 'primary',
		button: true,
		box: true,
		section: true,
	),
	'accent-2': (
		color: $accent-color-2,
		alias: 'secondary',
		button: true,		
		box: true,
		section: true,
	),
	'accent-3': (
		color: $accent-color-3,
		box: true,
		section: true,
	),
	'accent-4': (
		color: $accent-color-4,
		box: true,
		section: true,
	),
	'box-1': (
		color: $box-background-1,
		box: true,
	),
	'box-2': (
		color: $box-background-2,
		box: true,
	),
	'box-3': (
		color: $box-background-3,
		box: true,
	),
	'box-4': (
		color: $box-background-4,
		box: true,
	),
	'cover-1': (
		color: $box-background-2,	
		image: $cover-background-1,
		box: true,
	),
	'cover-2': (
		color: $box-background-2,	
		image: $cover-background-2,
		box: true,
	),
	'cover-3': (
		color: $box-background-2,	
		image: $cover-background-3,
		box: true,
	),
	'cover-4': (
		color: $box-background-2,	
		image: $cover-background-4,
		box: true,
	)
);

$alert_fa_icon: (
	warning: '\f071',
	error: '\f188',
	info: '\f05a',
	success: '\f046'
);

$sections: (
	main: (
		bg: $main-background,
		txt: $main-text-color,
		img: $main-image,
		font: $main-font,
		generic: true
	),
	navigation: (
		bg: $navigation-background,
		txt: $navigation-text-color,
		img: $navigation-image,
		font: $navigation-font,
		generic: true,
		navigation: true,
	),
	footer: (
		bg: $footer-background,
		txt: $footer-text-color,
		img: $footer-image,
		font: $footer-font,
		navigation: true,
		generic: true
	),
	header: (
		bg: $header-background,
		txt: $header-text-color,
		img: $header-image,
		font: $header-font,
		navigation: true,
		generic: true
	),
	sidebar: (
		bg: $sidebar-background,
		txt: $sidebar-text-color,
		img: $sidebar-image,
		font: $sidebar-font,
		generic: true
	),
	features: (
		bg: $features-background,
		txt: $features-text-color,
		img: $features-image,
		font: $features-font,
		modular: true
	),
	sub-features: (
		bg: $sub-features-background,
		txt: $sub-features-text-color,
		img: $sub-features-image,
		font: $sub-features-font,
		modular: true
	),
	showcase: (
		bg: $showcase-background,
		txt: $showcase-text-color,
		img: $showcase-image,
		font: $showcase-font,
		modular: true
	)

);	