#g-offcanvas {
	width: $offcanvas-width;
    box-shadow: 0 -2px 8px #0003;
}


// g-offcanvas-toggle

@media only all and (max-width: $breakpoints-mobile-menu-breakpoint) {
	[data-g-mobile-target] {
		display: none;
		visibility: hidden;
		pointer-events: none;
	}
}

.g-offcanvas-toggle {

	@if isnt-same($toggle-color,$base-text-color) {
		color: $toggle-color;
	} @else {
		color: var(--txt);
	}
	
	background-color: $toggle-background;
	width: $toggle-width;
	height: $toggle-height;

	border-radius: 50%;
	text-align: center;
	position: absolute;
	top: $content-margin;
	left: $content-margin;
	z-index: 30;

	display: flex;
    align-items: center;
    justify-content: center;
	
	padding: (1/6 * $toggle-height);
	i { font-size: (2/3 * $toggle-height); }

}
