#g-offcanvas {
	width: $offcanvas-width;
    box-shadow: 0 -2px 8px #0003;
}


// g-offcanvas-toggle

@media only all and (max-width: $breakpoints-mobile-menu-breakpoint) {
	[data-g-mobile-target] {
		display: none;
		visibility: hidden;
		pointer-events: none;
	}
}

.g-offcanvas-toggle {

	@if isnt-same($offcanvas-toggle-color,$base-text-color) {
		color: $offcanvas-toggle-color;
	} @else {
		color: var(--txt);
	}
	
	background-color: $offcanvas-toggle-background;
	width: $offcanvas-toggle-width;
	height: $offcanvas-toggle-height;

	border-radius: $border-radius;
	text-align: center;
	position: absolute;
	top: $base-margin;
	left: $base-margin;
	z-index: 30;

	padding: (1/6 * $offcanvas-toggle-height);
	i { font-size: (2/3 * $offcanvas-toggle-height); }

}
