#g-container-bottom {
	position: fixed;
	bottom:0;
	background: rgba($black,0.7);
	width: 100%;
	padding-top: 2rem;
	transition: opacity 2s linear, bottom 1.5s ease-out;
}

#g-container-bottom .g-container {
	background: $white;
	margin-bottom: 1rem;
}
	