#ga-branding {
 
	display: flex;
    flex-flow:wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;


	@include breakpoint(mobile-only) {
		margin: 0 $toggle-width*1.5;
		
		flex-flow: column;
		
		.site-logo { 
			margin-right: 0 !important;
			zoom: 2
		}
		
		.wrapper {
			flex: 0 0;
			align-items: center !important;
			.subtext { text-align: center }
		}
		
	}

	.site-logo {
		flex-shrink: 1;
		margin-right: var(--margin);

		i.icon,
		svg,
		img {
			height: 100%;    
		}

		i.icon {
			display: inline-flex;
			align-items: center;
		}
	}
	
	a { border: none; outline: none; }

	.wrapper {
		display: flex;
		align-items: flex-start;
		flex-direction:column;
		flex-grow: 1;
		justify-content: center;
		font-weight: 300;
		line-height: 1.2;
	}

	h1 { 
		font-weight: 400;
		margin: 0 0 .125rem 0; 
		font-size: 1.5em; 
		
		small {
			display:block;
			font-size: .625rem;
			text-transform:uppercase;
		}		
	}

	.subtext { 
		font-size: .85em;
		margin: 0;
	}


}