.ga-toc-bar {
	display: flex;
    justify-content: space-between;	
	h3 { margin-bottom: 0 }
	a {
		text-decoration: none;
	}

}

#g-mainbar #g-navigation .g-content.g-particle { 
    display: flex;
    align-items: center;
	padding-left: $base-padding*2;
	padding-right: $base-padding*2;
}

html.smooth {
	scroll-behavior: smooth;
	scroll-margin-top: -2rem;	
}

@media screen and (prefers-reduced-motion: reduce) {
	html.smooth {
		scroll-behavior: auto;
	}
}

#ga-toc {
	
	ol { list-style:none; counter-reset: li; }

	li { counter-increment: li; position: relative; padding-left: 2rem;}

	li:before {
		position: absolute;
		color: $accent-color-4;
		left: 0;
		font-size: .8em;
		line-height: 1.5;
		width: 1.5rem;
		content: counter(ol)"."counter(li);
	}

	li.active > a { font-weight: 700 }
	
	li.active:before {
		color: $accent-color-2;
		content: "\25b6"
	}

	li.active > ol,
	li:hover > ol,
	li:active > ol,
	li:focus > ol { height:auto; visibility: visible; }

	li:hover > ol {
		transition: all .5s linear .15s;      
	}

	li > ol { height: 0; visibility:collapse; }
	
	ol ol { padding-left: 0;  }
	
	> ol { padding-left: 0;  }
	> ol > li { counter-increment: ol; padding-left: 1.5rem;}
	> ol > li:before { 
		content: counter(ol)".";
	}

	.is-position-fixed {
		position:fixed !important;
		top:0
	}


	.is-collapsible {
		max-height:1000px;
		overflow:hidden;
		transition:all 300ms ease-in-out
	}
	
	.is-collapsed { max-height:0; }

	.is-active-li > a { font-weight: 700; }
	
}

ol.ga-tree {
	li { 
		position: relative; 
		ol { display: none; }
		&.open > ol { display: block; }
		&.parent {
			position: relative;
		}
		&.parent:after {
			font-family: 'FontAwesome';
			position: absolute;
			content: "\f196"; 
			top: 0;
			right: 0;
		}
		&.parent.open:after { 
			content: "\f147"; 
		}
	}
}	



ol.ga-tree {
	padding-left:0;
}

ol.ga-tree li ol {
	padding-left:0;
}

ol.ga-tree li ol >li {
	padding-left: 1rem;
	font-weight: normal;
}

ol.ga-tree.top-level > li {
    font-weight: bold;
}

ol.ga-tree li {
	list-style-type:none;
	line-height: 2;
}

ol.ga-tree li > ol {
	border-top: 1px solid var(--yellow);
}

ol.ga-tree li > ol > Li:last-child {
	border-bottom: none;
}

ol.ga-tree li.parent:after {
	color: #0008;
	font-weight:normal;
}

ol.ga-tree a { display:block; }
ol.ga-tree { opacity: .5; transition: opacity .5s linear }
ol.ga-tree:hover { opacity: 1; }