@mixin ga-box($color: "#ccc", $black: $black, $white: $white) {
	background-color: $color;
	color: if(lightness($color) > 50, $black, $white);
	border: 1px solid if(lightness($color) > 50, darken($color,15%), lighten($color,15%));
}


[class^='box'] { 
	padding: $content-padding $content-padding*2; 
}

.box1 { @include ga-box($box-background-1) }
.box2 { @include ga-box($box-background-2) }
.box3 { @include ga-box($box-background-3) }
.box4 { @include ga-box($box-background-4) }