
@mixin ga-button($background: $button-color, $white: $white, $black: $black) {
	background-color: $background;
	color : if(lightness($background) > 51, $black, $white);
}

button,
a.button {

	@include ga-button($button-color);

	border-radius: $core-border-radius;
	line-height: $core-line-height;
	font-family: get-font-family($base-body-font);
	font-size: $core-font-size;
	font-weight: $font-weight-medium;	
	display: inline-block;
	vertical-align: middle;
	text-shadow: none;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
	padding: $content-padding $content-padding*2;
	border: 0;
	
	&:focus { box-shadow: 1px 1px 4px #0009 !important; outline: none }
	&.accent1 { @include ga-button($accent-color-1); }
	&.accent2 { @include ga-button($accent-color-2); }
	&.primary, &.accent3 { @include ga-button($accent-color-3); }
	&.yellow,&.warning { @include ga-button($systemcolor-warning-color); }
	&.red,&.error { @include ga-button($systemcolor-error-color); }
	&.blue,&.info { @include ga-button($systemcolor-info-color); }
	&.green,&.success { @include ga-button($systemcolor-success-color); }
	&.embose {
		outline: 1px solid rgba(0,0,0,0.2);
		border-top: 1px solid rgba(255,255,255,0.6);
	}
}

.toggle,:hover.toggle { 
	background-color: #0000 !important; box-shadow: none !important; 
}
