#g-container-top {
	position: fixed;
	top:0;
	left:0;
	width: 100%
}

.fix-to-top {
	position: relative;
}

.fix-leftbar {
	position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    height: 100vh;
}