body {
	color: $base-text-color;
	background: $base-background;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#g-page-surround {
	background: $base-background;
}

@media print {
	#g-page-surround {
		background: #fff !important;
		color: #000 !important;
	}
}

a {
	color: $accent-color-1;
	&:hover {
		color: darken($accent-color-1, 10%);
	}
	&:active {
		color: ligthten($accent-color-1, 10%);
	}
}

h1, h2, h3, h4, h5, h6 {
	color: $accent-color-3;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	&:hover {
		color: darken($accent-color-3, 10%);
	}
	&:active {
		color: ligthten($accent-color-3, 10%);
	}
}


.gantry-logo {
	display: inline-block;
	@include breakpoint(mobile-only) {
		display: block;
		text-align: center;
	}
	img {
		width: 150px;
	}
}

.logo-large {
	display: inline-block;
}
