@include import-font($base-body-font);
@include import-font($base-heading-font);

body {
	font-family: get-font-family($base-body-font);
	font-weight: $font-weight-regular;
	background-color: $base-background;
}

a { 
	@include ga-link($link-color); 
}

main {
	
	min-height: 90vh;
	
	p:hover a { text-decoration: underline }
	
	p,ul,ol,blockquote { 
		margin-top: .5rem; 
		margin-bottom: 1rem;
	}

	h1, h2, h3, h4, h5, h6 {
		text-transform: capitalize;
		&:first-child { margin-top: 0 }
	}
	
	h6 { text-transform: uppercase; }
	
	[class^='box'] { padding: 1rem; margin-bottom: 1rem; }
	
	
}

bold, strong {
	font-weight: $font-weight-bold;
}

blockquote {
	border-left: 10px solid $rule-color;
	p {
		font-size: $core-font-size + 0.1;
		color: lighten($base-text-color, 20%);
	}
	cite {
		display: block;
		text-align: right;
		color: $base-text-color;
		font-size: $core-font-size + 0.2;
	}
}

code {
	background-color: $code-bg;
	color: darken($code-text,10%);
}

pre {
	padding: 1rem;
	margin: 2rem 0;
	background-color: $pre-bg;
	border: 1px solid $base-border-color;
	border-radius: $core-border-radius;
	line-height: 1.15;
	font-size: $core-font-size - 0.1;

	code {
		color: $pre-text;
		background-color: inherit;
		font-size: $core-font-size - 0.1;
	}
}

hr {
	border-bottom: 3px solid $rule-color;
}


h1, h2, h3, h4, h5, h6 {
	font-family: get-font-family($base-heading-font);
	font-weight: $font-weight-medium;
	color: $heading-color;
	&:first-child { margin-top: 0 }
	a { @include ga-link($heading-color); }
}

