@mixin ga-cover($image) {
	@if $image {
		background-image: url($image) !important;
	}
}

.ga-cover-1 { @include ga-cover($cover-background-1); }
.ga-cover-2 { @include ga-cover($cover-background-2); }
.ga-cover-3 { @include ga-cover($cover-background-3); }
.ga-cover-4 { @include ga-cover($cover-background-4); }
	
[class^='ga-cover'] {
	background-size: cover !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat !important;
	background-blend-mode: unquote($cover-blend-mode) !important;
}
