/* Interpreting gantry entries */

[class^='ga-cover'] {
	background-size: cover !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat !important;
	background-blend-mode: unquote($cover-blend-mode) !important;
}

.ga-cover-1 { background-image: url($cover-background1) !important; }
.ga-cover-2 { background-image: url($cover-background2) !important; }
.ga-cover-3 { background-image: url($cover-background3) !important; }
.ga-cover-4 { background-image: url($cover-background4) !important; }

button {

	display: inline-block;
	padding: 0.5rem 1rem;
	border-radius: $core-border-radius;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
	border: 0;
	line-height: $core-line-height;
	font-size: $core-font-size;
	vertical-align: middle;
	text-shadow: none;
	@include transition(background 0.1s);
	
	&.embose {
		outline: 1px solid rgba(0,0,0,0.2);
		border-top: 1px solid rgba(255,255,255,0.6);
	}
	
	&.button {  }
	
	&.accent1 { @include ga-button($accent-color-1, $main-text-color,$main-background); }
	&.accent2 { @include ga-button($accent-color-2); }
	&.accent3 { @include ga-button($accent-color-3); }
	&.accent4 { @include ga-button($accent-color-4); }
	&.yellow,&.warning { @include ga-button($systemcolor-warning-color); }
	&.red,&.error { @include ga-button($systemcolor-error-color); }
	&.blue,&.info { @include ga-button($systemcolor-info-color); }
	&.green,&.success { @include ga-button($systemcolor-success-color); }
}

.g-content {

	.box1 { @include ga-box($box-background1); }
	.box2 { @include ga-box($box-background2); }
	.box3 { @include ga-box($box-background3); }
	.box4 { @include ga-box($box-background4); }

	.notices.yellow { @include ga-notice($systemcolor-warning-color); }
	.notices.red { @include ga-notice($systemcolor-error-color); }
	.notices.blue { @include ga-notice($systemcolor-info-color); }
	.notices.green { @include ga-notice($systemcolor-success-color); }

}

.ga-bgrimg {
	display: flex;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: #00000099;
	background-blend-mode: soft-light;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	transition: all 1.5s ease;
}

.ga-features,
.ga-features h1,
.ga-features h2,
.ga-features h3,
.ga-features h4,
.ga-features h5,
.ga-features h6 { color: $main-background }

.ga-showcase .block,
.ga-features .block {
	width: 100%;
	padding: 6rem;
	text-align: center;
	display: block;
}

.ga-features .feature-items {
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;
	justify-content: center;
}

.ga-features .feature {
	padding: 1rem 2rem;
	width: 25%;
	justify-content: space-around;
	text-align: center;
}

.ga-features .feature img {
	width: 100px;
}

.ga-features .feature h4 {
	margin-bottom: 0 }

.ga-features .feature p {
	font-size: .9rem;
	margin-top: .5rem }

.ga-features .desc .headline {
	font-size: 6rem }

.ga-features i.fa {
	font-size: 3rem;
}

#g-showcase.flush .g-container,
#g-feature.flush .g-container {
	width: 100% !important;
}

#g-showcase.flush .g-content,
#g-feature.flush .g-content {
	padding: 0 !important;
	margin: 0 !important;
}

