@mixin ga-notices($color) {
	color: $color;
	border-left: 10px solid $color;
	background-color: if(lightness($color) < 50, lighten($color,50%), darken($color,25%));
	
	a { @include ga-link($color) }
}

.notices {
	padding: 1rem;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
	
	&.yellow,&.warning { @include ga-notices($systemcolor-warning-color); }
	&.red,&.error { @include ga-notices($systemcolor-error-color); }
	&.blue,&.info { @include ga-notices($systemcolor-info-color); }
	&.green,&.success { @include ga-notices($systemcolor-success-color); }
	
	p { margin: 0 }
	
}

main .notices {
	margin: 1rem 0;
}