@mixin ga-section(
	$name,
	$prefix: '',
	$suffix: '',
	$background: $base-background,
	$text-color: $base-text-color,
	$font: $base-body-font,
	$image: false,
){

	$section_name: #{$prefix}#{$name}#{$suffix};

	@if $font != $base-body-font {
		@include import-font($font);
	}

	#{$section_name} {
		background-color: $background;
		color: $text-color;

		@if $font == '' { $font: $base-body-font; }
		@if $image == '' { $image: false; }

		@if $font != $base-body-font {
			font-family: get-font-family($font);
		}

		@if $image  {
			background-color: darken($background,5%);
			background-blend-mode: unquote($cover-blend-mode);
			background-image: url($image);
			background-size: cover;
			background-position: center center;
		} @else {
			background-color: $background;
		}

		h1,h2,h3,h4,h5,h6 {
			color: $text-color;
			font-family: inherit;
		}

		a:not(.button) { @include ga-link($text-color) }

	}

}

#g-main {
	background: $main-background;
	color: $main-text-color;
}

#g-sidebar {
	background: $main-background;
	color: $main-text-color;
}


@include ga-section(
	'header',
	'#g-',
	'',
	$header-background,
	$header-text-color,
	$header-font,
	$header-image
);

@include ga-section(
	'footer',
	'#g-',
	'',
	$footer-background,
	$footer-text-color,
	$footer-font
);

@include ga-section(
	'showcase',
	'#g-',
	'',
	$showcase-background,
	$showcase-text-color,
	$showcase-font,
	$showcase-image
);

@include ga-section(
	'features',
	'#g-',
	'',
	$features-background,
	$features-text-color,
	$features-font,
	$features-image
);

@include ga-section(
	'sub-features',
	'#g-',
	'',
	$sub-features-background,
	$sub-features-text-color,
	$sub-features-font,
	$sub-features-image
);

@include ga-section(
	'navigation',
	'#g-',
	'',
	$navigation-background,
	$navigation-text-color,
	$navigation-font
);
