// breadcrumbs

span[itemprop='name']:hover { text-decoration: underline; }

// UI Fx

.ga-block { position: relative; }

#g-navigation li:hover span.g-menu-parent-indicator:after {
    text-shadow: 0px 0px 3px #fff;
    transition: all 1s linear;
    transform: rotatex(180deg);
}

#g-navigation span.g-menu-parent-indicator::after {
    text-shadow: 0px 0px 2px #000;
    transition: all .5s linear;
}

#g-navigation .logo {
	height: 67px;
}


i.fa { 
	display: inline-flex;
    align-items: center;
}

html.gaskeun-mobile {

	#g-header,
	#g-navigation {
		.hide-small {     
			visibility: collapse;
			max-width:0;
			* { display:none; }
		}
	
		.expand-small { flex: 1 }
		
		#ga-searchbox.active {
			padding-left: 67px;
			background: $navigation-background;
			
			.search-input {
				padding: .5rem;
				margin-right: .5rem;
				border-radius: .25rem;
			}
		}
	}
}

html.gaskeun-small  { @extend html.gaskeun-mobile }

/*
// Small Device

html.gaskeun-small {
	#ga-searchbox { padding: .5rem; background: #0000; }
	.dock-top { left: 0; width: 100% }
}
*/

.g-offcanvas-open #g-page-surround { top: 0 }
.g-offcanvas-open .g-top-shadow { display: none; }

