// breadcrumbs

span[itemprop='name']:hover { text-decoration: underline; }

// UI Fx

.ga-block { position: relative; }

#g-navigation li:hover span.g-menu-parent-indicator:after {
    text-shadow: 0px 0px 3px #fff;
    transition: all 1s linear;
    transform: rotatex(180deg);
}

#g-navigation span.g-menu-parent-indicator::after {
    text-shadow: 0px 0px 2px #000;
    transition: all .5s linear;
}

// Small Device

html.gaskeun-small,
html.gaskeun-mobile {
	.hide-small { display:none }
	.expand-small { flex: 1 }
	#ga-searchbox { padding: .5rem; background: #0000; }
	.deck-top { left: 0; width: 100% }
}

.g-offcanvas-open #g-page-surround { top: 0 }
.g-offcanvas-open .g-top-shadow { display: none; }

