
.ga-large { padding: $content-padding*2 $content-padding*4; font-size: 1.5rem;  }
.ga-small { padding: $content-padding/4 $content-padding/2; font-size: .9rem; }
.ga-xsmall { padding: $content-padding/8 $content-padding/4; font-size: .75rem; }

.flush {
 .g-container {
	> .g-grid {
	 > .g-block {
		> .g-content {
		 margin: 0;
		 padding: 0;
		}
	 }
	}
 }
}

.moduletable, .widget {
 &[class*="box"], &[class*="shadow"] {
	padding: $content-padding;
	margin: $content-margin;
 }
}


.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}


.shadow {
 &.moduletable, &.widget, &.g-outer-box, > .g-content {
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
 }
}

.shadow2 {
 &.moduletable, &.widget, &.g-outer-box, > .g-content {
	box-shadow: 0 0 4px rgba(0,0,0,0.15);
 }
}

.disabled {
 &.moduletable, &.widget, &.g-outer-box, > .g-content {
	opacity: 0.4;
 }
}

.square {
 &.moduletable, &.widget, &.g-outer-box, > .g-content {
	border-radius: none;
 }
}

.rounded {
 &.moduletable, &.widget, &.g-outer-box, > .g-content {
	border-radius: $core-border-radius;
 }
}

.ga-spacing { 
	margin: $base-margin; 
	padding: $base-padding; 
}
