@mixin hslbgr($color){
	--o: $color;
	--h: hue($color)/1deg;
	--s: saturation($color);
	--l: lightness($color);
	--bg: unquote("hsl(var(--h), var(--s), var(--l))");
	--complement: unquote("hsl( calc(var(--h) - 180), var(--s), var(--l))"); 
	--lighten: unquote("hsl(var(--h), var(--s), calc(var(--l) + 15%))");
	--darken: unquote("hsl(var(--h), var(--s), calc(var(--l) - 15%))");
	--hover: unquote("hsl( calc(var(--h) - 20), var(--s), var(--l))"); 
	--active: unquote("hsl( calc(var(--h) + 20), var(--s), var(--l))"); 
}




@mixin var-basecolor($background, $text-color: false) {
	@if ($text-color) {
		--text: $text-color;
	} @else {
		--text: textcolor-tint($background);
	}
	--bg: $background;
} 


@mixin var-linkcolor($color) {
	--link: $color;
	--hover: if(lightness($color)>50, darken($color,10%), lighten($color,10%) );
} 

@mixin var-textcolor($color) {
	--text: $color;
	--link: $color;
	--hover: if(lightness($color)>50, maxdarken($color,40), maxlighten($color,80) );
} 

@mixin var-boxcolor($color, $text-color: false) {
	--box-bg: $color;
	@if ($text-color) { 
		--box-text: $text-color; 
	} @else { 
		--box-text: textcolor-tint($color); 
	}
	--box-bg-light: if(lightness($color)>50, rgba(#000,0.2), rgba(#fff,0.2));
	--box-bg-dark: if(lightness($color)<50, rgba(#000,0.2), rgba(#fff,0.2));
	--box-border: if(lightness($color)>50, rgba(#000,0.3), rgba(#fff,0.3));
	--box-bg-tint: maxlighten($color,88);
	--box-text-tint: textcolor-tint(maxlighten($color,80));
}

@mixin var-div($color,$text-color: false) {
	@include var-basecolor($color,$text-color);
	@include var-boxcolor($color,$text-color);	
}

// --------------------------------------

@mixin link($color: $link-color) {
	&:hover { color: lighten($color, 10%);  }
	&:focus { color: lighten($color, 5%); }
	&:active { color: darken($color, 15%); }
}

@mixin clean() {
	background: none !important;
	outline: none !important;
	border: none !important;
}


@mixin nofirstchild() {
	:first-child { border-bottom: none }
}


