// Touch Indicators

@mixin main-nav-indicators() {

	.g-menu-hastouch {
		.g-toplevel {
			> li {
				&.g-menu-item-link-parent {
					> .g-menu-item-container {
						> .g-menu-parent-indicator {
							border: 1px solid var(--touch-border);
							background: var(--touch-bg);
							&:active {
								background: var(--touch-border);
							}
							border-radius: $border-radius;
							margin: -0.2rem 0 -0.2rem 0.5rem;
							padding: 0.2rem;
							&:after {
								text-align: center;
							}
						}
					}
				}
				&.active {
					&.g-menu-item-link-parent {
						> .g-menu-item-container {
							> .g-menu-parent-indicator {
								color: var(--section-text);
							}
						}
					}
				}
			}
		}
	}
	.g-menu-hastouch .g-standard, .g-fullwidth {
		.g-sublevel {
			> li {
				&.g-menu-item-link-parent {
					> .g-menu-item-container {
						> .g-menu-parent-indicator {
							border: 1px solid var(--touch-border);
							background: var(--touch-bg);
							&:active {
								background: var(--touch-border);
							}
							border-radius: $border-radius;
							padding: 0.1rem;
							margin-top: -0.1rem;
							margin-right: -0.1rem;
							&:after {
								text-align: center;
							}
						}
					}
				}
			}
		}
	}
}
