

// alert

@mixin alerting($color: $base-background, $icon:none ) {
	$bg: maxlighten($color,80);
	--bg: $bg;
	--text: textcolor-tint($bg);
	--border: rgba($color,0.3);	
	--icon: $icon;
	--icon-color: darken($color,40%);	
}


.alert {
	padding: $content-padding;
		margin-bottom: $content-padding*2;
	border-radius: $core-border-radius;
	color: var(--text);
	background-color: var(--bg);
	border: 1px solid var(--border);
	&:before {
		font-family:'FontAwesome';
		display: inline-flex;
		padding: $content-padding/2;
		margin-right: $content-padding;
		content: var(--icon);
		color: var(--icon-color);
	}
}