
// pre


:root {
	--pre-bg: $box-background-4;
	--pre-text: textcolor-tint($box-background-4);
	--pre-border: maxdarken($box-background-4,60);
}

pre {
	background-color: var(--pre-bg);
	color: var(--pre-text);
	border-radius: var(--border-radius);
	padding: calc(2 * var(--padding));
	
	code { color: var(--pre-text); }
}

:root {
	--quote-bg: $box-background-3;
	--quote-text: textcolor-tint($box-background-3);
	--quote-border: maxdarken($box-background-3,60);
}

blockquote,.blockquote {
	background-color: var(--quote-bg);
	border-left: 10px solid var(--quote-border);
	border-radius: var(--border-radius);
	color: var(--quote-text);
	line-height: 2rem;
	padding: calc(2 * var(--padding)) calc(3 * var(--padding));
	p { margin: 0 }
	cite { text-align: right; }
}