%box-cover {
	background-blend-mode: unquote($cover-blend-mode) !important;
	background-size: cover !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat !important;
}

%box-container {
	h1,h2,h3,h4,h5,h6 { 
		color: var(--text);
		margin-bottom:0;
		:fist-child { margin-top: 0 }
	}
}


.box {
	background: var(--bg);
	color: var(--text);
	padding: var(--content-padding);
	@extend %box-container;
}

.box[class*='box-'] {
	border: 1px solid var(--border);
	border-radius: var(--border-radius);
}

.box[class*='cover-'] {
	min-height: 8rem;
}

[class*='ge--'] {
	min-height: 2rem;
	background-color: var(--section-bg);
	color: var(--section-text);
	padding: $content-padding*2;
		position:relative;
}

[class*='ge--']:hover {
		outline: 1px dashed #0009;
	outline-offset: -1px;

	&:before {
		background:#0009;
		content: var(--name);
		color:#fff;
		font-size:.7rem;
		padding: .25rem .5rem;
		top: -1rem;
		left: -1rem;
		position: absolute;
	}
}

@mixin box($color, $cover:false) {
	--content-padding: $content-padding*2;
	
	@if $cover {
		--bg: maxdarken($color,30%);
		--text: maxlighten($color,95);
		background-image: url($cover);
		@extend %box-cover;
	} @else {
		--bg: $color;
		--text: textcolor-tint($color);
		--border: darken($color,30%);
	}
	
}


