@mixin link-a-dinky($color) {
	--link: $color;
	--hover: lighten($color, 15%);
	--focus: lighten($color, 10%);
	--active: darken($color,15%);
	--visited: $color;
}


// color base

@each $name, $set in $colours {

	$alias: map-get($set,'alias');

	$color: map-get($set,'color');

	@if map-get($set,'section') {
	
		[class*='section-'] {
			&.#{$name} {
				--text: textcolor-tint($color);
				--active-text: textcolor-tint($color);
				--hover-text: textcolor-tint($color);
				@include hslbgr($color);
			}
		}
		
	}
	
	.color-#{$name} { 
		color: $color;
		--pre-bg: maxlighten($color,95);
		--pre-text: maxdarken($color,30);
		--pre-border: maxdarken($color,70);
		--quote-bg: maxlighten($color,90);
		--quote-text: maxdarken($color,40);
		--quote-border: maxdarken($color,60);
	}

	@if map-get($set,'table') {
		.color-#{$name} table,table.#{$name} { @include table(map-get($set,'color')); }
	}
	
	@if map-get($set,'notices') {
		.notices.#{$alias},
		.notices.#{$name} { @include notices(maxlighten(map-get($set,'color'),95), map-get($set,'color')); }
	}

	@if map-get($set,'button') {
		a.button,
		button{
			&.#{$alias},
			&.#{$name} { @include button(map-get($set,'color')); }
		}
	}

	@if map-get($set,'alert') {
		$icon: map-get($alert_fa_icon, $alias);
		.alert-#{$alias} { @include alerting(map-get($set,'color'), $icon); }
	}
	
	a:not(.button) {
		@if $alias {
			&.#{$alias}, &.#{$name} { @include link-a-dinky(map-get($set,'color')); }
		} @else {
			&.#{$name} { @include link-a-dinky(map-get($set,'color')); }
		}
	}

	@if map-get($set,'box') {
	
		.box {
			&.#{$name} { @include box(map-get($set,'color'),map-get($set,'image')); }
		}
		
	}


}



