
// button

button,a.button {

	font-family: get-font-family($base-font) !important;	
	background-color: var(--button-bg);
	color: var(--button-text);
	padding: var(--button-padding);
	font-weight: $font-weight-medium;
	border-width: 1px;
	border-style: outset;
	border-color: var(--button-border);
	border-radius: $border-radius;
	min-width: 80px;
	outline: none;
	&:hover { 
		background-color: var(--button-hover);
		box-shadow: 0 2px 4px #0003;
	}
	.active,&:active { 
		background-color: var(--button-active); 
		border-style: inset;
	}
	&:focus { 
		background-color: var(--button-active); 
		box-shadow: 0 2px 4px #0003;
	}
	
	&.large { 
		--button-padding: $content-padding*1.5 $content-padding*4; 
		font-size: 1.2rem;
	}
	
	&.small { 
		--button-padding: $content-padding/2 $content-padding;
		font-size: .9rem;
		min-width: 40px;
	}
	
	&.xsmall { 
		--button-padding: $content-padding/4 $content-padding/2; 
		min-width: 30px;
		font-size: .8rem;
	}
	
	&.full {
		width: 100%;
	}

	&.half {
		width: calc(50% - 2px);
	}

	&.toggle { 
		border:none !important; 
		min-width: 0  !important;
		outline: none;
		box-shadow: none;
		background: #0000 !important;
	}

}

@mixin button($color, $padding: $content-padding) {
	$button-color: $color;
	--button-bg: $button-color;
	--button-text: textcolor-tint($button-color);
	--button-border: darken($button-color,8%); 
	--button-hover: lighten($button-color,8%); 
	--button-active: darken($button-color,4%); 
}