@include import-font($base-font);

@if isnt-same($heading-font, $base-font) {
	@include import-font($heading-font);
}

body {
	font-family: get-font-family($base-font);
	font-weight: $font-weight-regular;
	background-color: $base-background;
	color: $base-text-color;
}

h1 { font-size: $h1-font-size; }
h2 { font-size: $h2-font-size; }
h3 { font-size: $h3-font-size; }
h4 { font-size: $h4-font-size; }
h5 { font-size: $h5-font-size; }
h6 { font-size: $h6-font-size; }

h1,h2,h3,h4,h5,h6 {
	color: $heading-text-color;
	margin: 1rem 0 1rem 0;
	font-weight: $font-weight-medium;
	@if isnt-same($heading-font, $base-font) {
		font-family: get-font-family($heading-font);
	}
}


h1,h2,h3,h4 { text-transform: capitalize; }
h5,h6 { 
	margin: 1rem 0 0.5rem 0;
	text-transform: uppercase;
	color: maxdarken($heading-text-color,50);
}

h6 { text-decoration: underline; }

.title { 
	@extend h1; 
}

h1,h2,.title {
	&:first-child { 
		margin: 0 0 3rem 0;
		border-bottom: 1px solid rgba($heading-text-color,0.5);
	}
}


p { margin: 1rem 0 }


.g-content {
	padding: var(--content-padding);
	margin: var(--content-margin);
}

p { margin-top: .5rem }

code { color: maxdarken($colours-red,60); }
var { color: maxdarken($colours-green,60); }
mark { background-color: maxlighten($colours-yellow,80); color: $black }
abbr,kbd { color: maxdarken($colours-blue,60); }
kbd { font-weight: $font-weight-medium; }

main {
	background-color: var(--bg);
	color: var(--text);	
}

#g-page-surround {
	background: inherit;
}

footer {
	font-size: .9rem;
}
