%flex-vcenter {
	display: flex; align-items: center; height: 100%;
}

%dropdown-column {
	width: $menu-col-width;
}

/*

#g-header {
	--active-text: $header-text-color;
	--active-bg: lighten($header-background,10%);
	--hover-text: $header-text-color;
	--hover-bg: darken($header-background,10%); 
	--touch-bg: lighten($header-background,10%); 
	--touch-border: darken($header-background,10%);
}

#g-footer {
	--active-text: $footer-text-color;
	--active-bg: lighten($footer-background,10%);
	--hover-text: $footer-text-color;
	--hover-bg: darken($footer-background,10%); 
	--touch-bg: lighten($footer-background,10%); 
	--touch-border: darken($footer-background,10%);
}
*/

.section-navigation {

	--active-text: $navigation-active-text-color; 
	--active-bg: $navigation-active-background;
	--hover-text: $navigation-hover-text-color;
	--hover-bg: $navigation-hover-background; 
	--touch-bg: $navigation-hover-background; 
	--touch-border: $navigation-active-background;

	.g-content { margin:0; padding: 0; height: 100%; }

}



.g-main-nav {

	@extend %flex-vcenter;

	> ul > li > ul {
 		box-shadow: inset 0px 1px 5px 0px #0003;
	}

	.g-toplevel {
		@extend %flex-vcenter;
		width:100%;

		> li {
			cursor: pointer;
			@extend %flex-vcenter;
		}

	}

	.g-dropdown {
		background-color: var(--bg);
		@extend %dropdown-column;
	}

	a { color: var(--text); }

	.g-menu-item { 
		@extend %flex-vcenter;
		transition: all 1s ease;
		
		.g-menu-item-container { 
			@extend %flex-vcenter;
			width: 100%;
			padding: $content-padding $content-padding*1.5;
		}
	}

	.g-selected { 
		background-color: var(--hover-bg); 
		color: var(--hover-text);
		a { color: var(--hover-text); }

		.g-dropdown {
			background-color: var(--hover-bg);

			li:hover > a {
				background-color: var(--bg);
			}
		}

		
		
	}

	.active {

		background-color: var(--active-bg);
		a { color: var(--active-text); }
	
	}

	a { display: block; }

	@include main-nav-indicators();
}


