:hover a.button, a.button:hover { text-decoration: none !important }
.g-content :first-child { margin-top: 0 }


@keyframes docked-top {
	0% { margin-top: 0 }
	10% { margin-top: -8px;  }
	20% { margin-top: -5px;  }
	30% { margin-top: -7px;  }
	40% { margin-top: -1px; }
	60% { margin-top: -3px }
	100% { margin-top: 0 }
}

%fix-at-top {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
}

#g-container-top {
	@extend %fix-at-top;
	position: fixed !important;
	transition: all 1s ease .3s;
}

.pinned .g-container,
.scrolled .g-container {
	animation: docked-top .5s linear 1;
	transition: all 1s ease .3s;
}

.toggleable-button {
    z-index: 1000;
    position: fixed;
    top: 5rem;
    width: 48px;
    height: calc(100vh - 10rem);
    display: flex;
    align-items: center;
    justify-content: center;
	background-color: #0009;
	
	a { 
		color: #fffd !important; 
		display: inline-flex !important;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;		
	}
	
	&.left {
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
		left: -45px;
	}

	&.right {
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
		right: -45px;
	}
	
	&:hover {
	
		&.left {
			left: 0px;
		}

		&.right {
			right: 0px;
		}
	
	}
	
	
}

.g-flushed { padding: 0 !important; }
.g-flushed .g-content { padding: 0; margin: 0; }
.g-flushed .g-container { width: 100%; }


.flexy {
    display: inline-flex;
}


html:not(.smooth) {
	main, footer {
		content-visibility: auto;
		contain-intrinsic-size: 1000px; /* Explained in the next section. */
	}
}

.ff-width {
	width:100% !important;
	flex: 0 100%;
}


i.fa { 
	display: inline-flex;
    align-items: center;
}

html.gaskeun-mobile {

	#g-header,
	#g-navigation {
		.hide-mobile {     
			visibility: collapse;
			width:0;
			max-width:0;
			min-width:0;
			* { display:none; }
		}
	
		.expand-small { flex: 1 }
		
		#ga-searchbox.active {
			padding-left: 67px;
			background: $navigation-background;
			
			.search-input {
				padding: .5rem;
				margin-right: .5rem;
				border-radius: .25rem;
			}
		}
	}
}

html.gaskeun-small  { @extend html.gaskeun-mobile }

/*
// Small Device

html.gaskeun-small {
	#ga-searchbox { padding: .5rem; background: #0000; }
	.dock-top { left: 0; width: 100% }
}
*/



// pabiak

#pabiak-head {
	display: flex;
	align-items: center;
	
	h1 {
		border-bottom: none;
		color: var(--text);
		margin: 0 0 .25rem 0;
	}
	small {
		font-size: 1rem;
		color: #fffc;
	}
	
	div { margin-left: 1rem; }
	img { height: 100%; width:100%; }

	.logo { height: 70px; }
	h1 { font-size: 1.1rem; }
	
	&.medium {
		.logo { height: 120px; }
		h1 { font-size: 1.2rem; }
	}
	
	&.big {
		.text { margin: 0.5rem 0 }	
		.logo { height: 200px; margin: 0; }
		h1 { font-size: 1.6rem; }
	}

}
html.gaskeun-small #pabiak-head,
html.gaskeun-mobile #pabiak-head {
	&.small,
	&.medium,
	&.big {
		.logo { height: 70px; width: 58px; }
	}
	&.small { padding: .5rem 2rem; }
	&.medium { 
		.text { padding-left: .5rem; }
	}
	div { margin: 0 }
	.pab-hide { display: none; }
}
