
:root {
	--border-radius: $border-radius;
	--padding: $content-padding;

	--bg: $content-background;
	--text: textcolor-tint($content-background);
	--border: $content-background;
	--font: get-font-family($main-font); 


	
	--content-padding: $content-padding;
	--content-margin: $content-margin;

	
	--link: $link;
	--focus:	lighten($link,15%);
	--hover: lighten($link,15%);
	--active: lighten($link,10%);
	--visited: $link;
	
	
	$button-color: $content-background;
	--button-bg: $button-color;
	--button-text: textcolor-tint($button-color);
	--button-border: darken($button-color,32%); 
	--button-hover: lighten($button-color,16%); 
	--button-active: lighten($button-color,32%); 
	--button-padding: $content-padding $content-padding*2;
	
	
	
	
}