.center { text-align: center !important; }
.align-right { text-align: right !important; }
.align-left { text-align: left !important; }
.full-height { min-height: 100vh; }
.nomarginall { margin: 0 !important; }
.nomarginall .g-content { margin: 0 !important; }
.nopaddingall { padding: 0 !important; }
.nopaddingall .g-content { padding: 0 !important; }

.equal-height { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; }
.equal-height .g-content { flex-basis: 100%; }

.flush {
 .g-container {
	> .g-grid {
	 > .g-block {
		> .g-content {
		 margin: 0;
		 padding: 0;
		}
	 }
	}
 }
}

.moduletable, .widget {
 &[class*="box"], &[class*="shadow"] {
	padding: $content-padding;
	margin: $content-margin;
 }
}

.shadow {
 &.moduletable, &.widget, &.g-outer-box, > .g-content {
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
 }
}

.shadow2 {
 &.moduletable, &.widget, &.g-outer-box, > .g-content {
	box-shadow: 0 0 4px rgba(0,0,0,0.15);
 }
}

.disabled {
 &.moduletable, &.widget, &.g-outer-box, > .g-content {
	opacity: 0.4;
 }
}

.square {
 &.moduletable, &.widget, &.g-outer-box, > .g-content {
	border-radius: none;
 }
}

.rounded {
 &.moduletable, &.widget, &.g-outer-box, > .g-content {
	border-radius: $core-border-radius;
 }
}

.full-width { -webkit-flex-grow: 0; -moz-flex-grow: 0; flex-grow: 0; -ms-flex-positive: 0; -webkit-flex-basis: 100%; -moz-flex-basis: 100%; flex-basis: 100%; -ms-flex-preferred-size: 100%; }

.full-width .g-block { -webkit-flex-grow: 0; -moz-flex-grow: 0; flex-grow: 0; -ms-flex-positive: 0; -webkit-flex-basis: 100%; -moz-flex-basis: 100%; flex-basis: 100%; -ms-flex-preferred-size: 100%; }

.hidden { display: none; visibility: hidden; }

// From gaskeun ---------------------------------- 

.fix-at-top { @extend %fix-at-top; }
.fix-at-left {
    overflow-y: auto;
    height: calc(100% - 67px);
	position:fixed;
	backround: #000;
}

@media only all and (max-width: $breakpoints-mobile-menu-breakpoint) {
	.fix-at-left {
		width: 80%;
	}
}

.dock-top {
	position: relative;
	z-index: 102 !important;
	&.pinned {
		position: fixed !important;
	}
}

