.page-staff { 

	display: flex;
	margin-left:0;
	
	li { 
		list-style-type: none;
		display: flex;
		width: 50%;
		margin-bottom: 2rem;
		padding:0;
	
	}
	
	.picture { 
		height: 200px;
		margin-right: 2rem;
		outline: 1px solid #0006;
		padding: .25rem;
		background: #fff;	
		
		img { height: 100%; }

	}
	
	.data {
		p { margin: 0 0 1rem 0; clear:both; }
		label { width: 120px; font-weight: 700; display: inline-block; float: left; }
		.value { float: left; }
	}

}

.presentation-iframe {
	width: 100%;
	width: -moz-available;
	width: -webkit-fill-available;
	width: fill-available;
	height: 100%;
	height: -moz-available;
	height: -webkit-fill-available;
	height: fill-available;
}



#g-navigation .g-toplevel {
	flex-flow: row !important;
}


#g-main {
	[class^='box'] { padding: 1rem; margin-bottom: 1rem; }
}


.notices {
	padding: 1px 1px 1px 30px;
	margin: 15px 0;
}


.gasken {
	
	[class^='ga-cover'] {
		background-size: cover !important;
		background-position: 50% 50% !important;
		background-repeat: no-repeat !important;
		background-blend-mode: unquote($cover-blend-mode) !important;
	}

	.ga-cover-1 { background-image: url($cover-background1) !important; }
	.ga-cover-2 { background-image: url($cover-background2) !important; }
	.ga-cover-3 { background-image: url($cover-background3) !important; }
	.ga-cover-4 { background-image: url($cover-background4) !important; }



}

#g-footer {

	outline: 1px solid #0006;
    border-top: 2px solid #0002;
}


