.ga-bgrimg {

	display: flex;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: #00000099;
	background-blend-mode: soft-light;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	transition: all 1.5s ease;
}


.ga-features {

	&.flush {
		.g-content { @include flush(); }
		.g-container { width: 100% !important; }
	}

	h1,h2,h3,h4,h5,h6 { color: $main-background; }

	.desc .headline { font-size: 6rem }

	i.fa { font-size: 3rem; }

	.feature-items {
		display: flex;
		flex-basis: 100%;
		flex-wrap: wrap;
		justify-content: center;
	}

	.feature {
		padding: 1rem 2rem;
		width: 25%;
		justify-content: space-around;
		text-align: center;

		img { width: 100px; }
		h4 { margin-bottom: 0 }

		p { font-size: .9rem; margin-top: .5rem }

	}
	
	.block {
		@include cover-block()
	}
}


.ga-showcase {

	.block { @include cover-block(); }

	&.flush {
		.g-content { @include flush(); }
		.g-container { width: 100% !important; }
	}

}
