/* decktop= pinned ---------------------- */

@-webkit-keyframes pinned {
    0% {-webkit-transform: translate(0,-1px);}   
    25% {-webkit-transform: translate(0,-4px);}   
    75%  {-webkit-transform: translate(0,-1px);}
    100%  {-webkit-transform: translate(0,0px);}
}

.deck-top {

	position: absolute;
	left: 0;
	width: 100%;
	z-index: 102 !important;
	transition: all .5s linear;

	&.pinned { 
		position: fixed !important;
		animation: pinned 1s 1 ease-in;
		box-shadow: 0 5px 10px #0003;
	}
	

}