
#g-navigation .search-wrapper {
	display: inline-flex;
    margin: -($base-padding + $base-margin) 0;
    justify-content: flex-end;
    align-items: center;
	width:100%;

	form#search {
		width:100%;
	}
	
	form#search input {
		width:100%;
	}

}


#g-navigation .ga-search-wrapper {
	
	display: flex;
	background: $navigation-background;
	transition: background .5s linear;
	border-radius: 0.1875rem;	
	width: 100%;

	button, form { display:inline-flex; }
	
	button.toggle { 
		background: rgba(0,0,0,0);
		transition: all .2s linear;
		transform: scaleX(-1);		
		@include ga-nono;

		&:hover { 
			color: darken($navigation-background,50%);
		}

	}

	form#search {
		display: inline-flex;
		background-color: rgba(0,0,0,0,0);
		justify-content: flex-end;
		width:100%;
	}
	
	form#search input {
		background-color: #0000;
		width: auto;
		display:none;
		padding: 0.25rem 0 0.25rem 0.5rem;
		@include ga-nono;
	}

 	
	&.active {
		background: $main-background;
		position: absolute;
		right: 0;
		height: 2.8rem;
		justify-items: center;
		align-items: center;
		transition: background .25s linear;

		form#search input {
			width: 99%;
			display:inline-flex;
		}
	}

	&:hover button.toggle {
		transition: all 1s linear;
		color: $accent-color-1;
	}
	
}

