
button { text-transform: capitalize; }

main {

	min-height: 90vh;

	h1,h2,h3,h4,h5,h6 {
	
		&:first-child { margin-top: 0 }
		&:focus { outline: none }
	}
	
}



.ga-large { padding: 1rem 1.5rem; font-size: 1.2rem; }
.ga-default { padding: .5rem 1rem; font-size: 1rem; }
.ga-small { padding: .5rem .75rem; font-size: .9rem; }
.ga-xsmall { padding: .25rem .5rem; font-size: .8rem; }



.on-left ul:not(.g-sublevel) {
	float: left;
}

.on-right ul:not(.g-sublevel) {
	float: right;
}


#g-navigation .g-toplevel { flex-flow: row !important; }


#g-main {
	[class^='box'] { padding: 1rem; margin-bottom: 1rem; }
}


@if $base-padding < 1 {

		$base-padding: 1rem;
	
		#g-footer {
			padding: 2*$base-padding 0 3*$base-padding 0;
		}
		
		#g-main {
			padding: 0 0 3*$base-padding 0;
		}
		
}

.g-spacing { 
	margin: $base-margin; 
	padding: $base-padding; 
}




/* offcanvas */

.g-offcanvas-open body { margin-top: 0 !important; }

.g-offcanvas-toggle {
	position: fixed;
	z-index: 999;
}
