// pre-defined configuration

$base-body-font:				"roboto", "Helvetica", "Tahoma", "Geneva", "Arial", "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !default;
$base-heading-font:				"roboto", "Helvetica", "Tahoma", "Geneva", "Arial", "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !default;
$font-family-mono: 				"Menlo", "Monaco", monospace;
$font-family-serif:				"Georgia", "Times", "Times New Roman", serif;

$white: #fff;
$black: #000;
$dark-gray: #999;
$light-gray: #ddd;

$core_font: sans-serif;
$core-font-size: 1rem;
$core-line-height: 1.5;
$core-background: $white;
$core-text-color: $black;
$core-accent: $light-gray;
$core-border-color: $dark-gray;
$core-box-shadow: inset 0 1px 3px $dark-gray;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$border-radius: 0.35em;

// theme-default configuration

$option-nucleus_css: '0' !default;
$option-grav_css: '0' !default;
$option-hydrogen_css: '0' !default;
$option-devinchrome_css: '1' !default;

$base-font: $core_font !default;
$base-font-size: $core_font_size !default;
$base-background: $core-background !default;
$base-text-color: $core-text-color !default;

$base-padding: 0.5rem !default;
$base-margin: 0.5rem !default;

$breakpoints-large-desktop-container: 75rem !default;
$breakpoints-desktop-container: 60rem !default;
$breakpoints-tablet-container: 48rem !default;
$breakpoints-large-mobile-container: 30rem !default;
$breakpoints-mobile-menu-breakpoint: 48rem !default;

$color-yellow: #ffc20a !default;
$color-red: #cc2936 !default;
$color-blue: #3c60ad !default;
$color-green: #44af69 !default;

// all variations default shall be false, not used

$accent-color-1: false !default;
$accent-color-2: false !default;
$accent-color-3: false !default;
$accent-color-4: false !default;

$cover-blend-mode: soft-light !default;
$cover-image-1: false !default;
$cover-image-2: false !default;
$cover-image-3: false !default;
$cover-image-4: false !default;

$menu-col-width: 220px !default;
$menu-animation: g-fade !default;
$menu-hide-on-mobile: '0' !default;

$transition-animation-1: none !default;
$transition-animation-2: none !default;
$transition-animation-3: none !default;
$transition-animation-4: none !default;

$base-heading-font: $base-font !default;

$footer-font: $base-font !default;
$header-font: $base-font !default;
$sidebar-font: $base-font !default;
$navigation-font: $base-font !default;

$footer-background: $base-background !default;
$sidebar-background: $base-background !default;

$base-offwhite: $base-background !default;

$footer-text-color: $base-text-color !default;
$sidebar-text-color: $base-text-color !default;

$offcanvas-width: 100vw !default;
$offcanvas-toggle-icon: fa fa-bars !default;
$offcanvas-toggle-width: 3rem !default;
$offcanvas-toggle-height: 3rem !default;
$offcanvas-toggle-visibility: '1' !default;
$offcanvas-overlay: #000 !default;

$header-text-color: $base-text-color !default;
$header-background: $base-background !default;

$navigation-text-color: $header-text-color !default;
$navigation-background: $header-background !default;

$offcanvas-toggle-color: false !default;
$offcanvas-toggle-background: false !default;
$offcanvas-background: false !default;
