{% extends "partials/page.html.twig" %}


{% block content %}


<pre>
{{ gantry.config.styles |print_r }}
</pre>

{#

{% set owner = theme_var('owner')? theme_var('owner'): "Gaskeun Theme User" %}

{{ gal|json_encode(constant('JSON_PRETTY_PRINT')) }}

	{% if attribute(gal,image.filename) %}
		{% if gal[image.filename].title %}<h5>{{ gal[image.filename].title }}</h5>{% endif %}
		{% if gal[image.filename].text %}<p>{{ gal[image.filename].text }}</p>{% endif %}
	{% endif %}

#}



{% endblock %}

