{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
<div class="ga-search-wrapper" id='ga-searchbox'>
<form name="search" data-simplesearch-form="" id="search">
<input name="searchfield" class="search-input" aria-label="search" type="text" data-min="3" required="" placeholder="Search …" value="" data-search-invalid="Please add at least 3 characters" data-search-separator=":" data-search-input="/search/query">
</form>
<button style='height:{{particle.height|e}};width:{{particle.width|e}};' onclick='javascript:gasearch_toggle(this)' class='toggle'><i class='fa fa-search'></i></button>
</div>

{% endblock %}
