{% extends '@nucleus/partials/particle.html.twig' %}


{% block particle %}

	{% if particle.title %}
		<h3>{{ particle.title }}</h3>
	{% else %}
		<h3>Content</h3>
	{% endif %}

	<div id="ga-toc"></div>

{% endblock %}


{% pageblock body_bottom %}
	<div class='toggleable-button left'>
	<a class='button toggle'><i class='fa fa-arrow-left'></i></a>
	</div>
{% endpageblock %}

{% set inline_js %}
ga_toc_init();
{% endset %}

{% do gantry.document.addInlineScript(inline_js, 0, 'footer') %}

{% block javascript_footer %}
    <script src="{{ url('gantry-theme://js/toc.js') }}"></script>
{% endblock %}  

{% block stylesheets %}
	{% for scss in gantry.theme.configuration.css.particles %}
		<link rel="stylesheet" href="{{ theme_url }}/css-compiled/{{ scss }}.scss" type="text/css"/>
	{% endfor %}
{% endblock %}

