$sections: (
	'header':(
		background: $header-background,
		text-color: $header-text-color,
	),
	'footer':(
		background: $footer-background,
		text-color: $footer-text-color,
	),
	'navigation':(
		background: $navigation-background,
		text-color: $navigation-text-color,
		also: 'offcanvas'
	),
	'aside':(
		background: $aside-background,
		text-color: $aside-text-color,
	),
);
	
@each $name,$set in $sections {

	$color: map-get($set,'background');

	@if isnt-same($color,$base-background) {
	
		.section-#{$name} {
	

			--color: $color;
			background-color: var(--bg,var(--color));
			
			@if (not-empty(map-get($set,'text-color'))) {
				$text-color: map-get($set,'text-color');
				$link-color: link-color-calc($text-color);
			} @else {
				$text-color: $base-text-color;
				$link-color: $base-accent;
			}
			
			color: var(--txt,$text-color);

			a { @include link-color($link-color); }

		}

		@if map-get($set,'also') {
			.section-#{map-get($set,'also')} {
				@extend .section-#{$name}
			}
		}
	}

}	

main [class*='section-'] a:not(.button) { 
	border: none;
	&:hover { border: none; }
	&:active { border: none; }
}	