@mixin unset-bg-color($color, $text-color: false, $step: 15, $percent: 15%) {

	--bg: $color;
	--bg-a1: adjust-color($color,$hue:$step);
	--bg-a2: adjust-color($color,$hue:-$step);
	--bg-co: adjust-color($color,$hue:180);
	--bg-t1: adjust-color($color,$hue:120);
	--bg-t2: adjust-color($color,$hue:240);

	@if (ligtness($color) < 95) {
		$lmax: adjust-color($color, $lightness: 95%-lightness($color));
	} @else {
		$lmax: $color;
	}

	@if (ligtness($color) > 10) {
		$dmax: adjust-color($color, $lightness: -(lightness($color)-10%));
	} @else {
		$dmax: $color;
	}

	--bg-ligt: adjust-color($color, $lightness: $percent);
	--bg-dark: adjust-color($color, $lightness: -$percent);
	--bg-max-ligt: $lmax;
	--bg-max-dark: $dmax;

}


@mixin hsl-bg-pallete($color, $step: 15, $percent: 15%) {

	--bg: unquote("hsl(var(--bg-h), var(--bg-s), var(--bg-l))");
	--bg-light: unquote("hsl(var(--bg-h), var(--bg-s), calc(var(--bg-l) + #{$percent}))");
	--bg-dark: unquote("hsl(var(--bg-h), var(--bg-s), calc(var(--bg-l) - #{$percent}))");
	--bg-light-1: unquote("hsl(var(--bg-h), var(--bg-s), calc(var(--bg-l) + #{$percent}/2))");
	--bg-dark-1: unquote("hsl(var(--bg-h), var(--bg-s), calc(var(--bg-l) - #{$percent}/2))");
	--bg-a1: unquote("hsl( calc(var(--bg-h) + #{$step}), var(--bg-s), var(--bg-l))"); 
	--bg-a2: unquote("hsl( calc(var(--bg-h) - #{$step}), var(--bg-s), var(--bg-l))"); 

	--bg-t1: unquote("hsl( calc(var(--bg-h) + 120), var(--bg-s), var(--bg-l))"); 
	--bg-t2: unquote("hsl( calc(var(--bg-h) + 240), var(--bg-s), var(--bg-l))"); 
	--bg-co: unquote("hsl( calc(var(--bg-h) + 180), var(--bg-s), var(--bg-l))"); 

	$lmax: round(90%-lightness($color));
	$dmax: round(lightness($color)-10%);

	@if (ligtness($color) < 95) {
		$lmax: 90%-round(lightness($color));
	} @else {
		$lmax: 0;
	}

	@if (ligtness($color) > 10) {
		$dmax: round(lightness($color))-10%;
	} @else {
		$dmax: 0;
	}

	--white: unquote("hsl(var(--bg-h), var(--bg-s), calc(var(--bg-l) + #{$lmax}))");
	--black: unquote("hsl(var(--bg-h), var(--bg-s), calc(var(--bg-l) - #{$dmax}))");
	
	@if round(lightness($color))<50% {
		--txt: unquote("hsl(var(--bg-h), var(--bg-s), 97%)");  
	} @else {
		--txt:  unquote("hsl(var(--bg-h), var(--bg-s), 3%)");
	}
}

@mixin hsl-bg-parse($color) {
	--bg-h: round(hue($color)/1deg);
	--bg-s: round(saturation($color));
	--bg-l: round(lightness($color));
	--color: $color;
}

@mixin hsl-txt-parse($color) {
	--txt-h: round(hue($color)/1deg);
	--txt-s: round(saturation($color));
	--txt-l: round(lightness($color));
}

@mixin hsl-bg($color, $text-color: false, $step: 15, $percent: 15%) {

	@include hsl-bg-parse($color);
	@include hsl-bg-pallete($color, $step, $percent);


	@if ($text-color) {
		@include hsl-txt($color, $text-color);
	} 
	
	
	
}

@mixin hsl-txt-pallete($color, $step: 15, $percent: 15%) {

	--txt: unquote("hsl(var(--txt-h), var(--txt-s), var(--txt-l))");

	--txt-light: unquote("hsl(var(--txt-h), var(--txt-s), calc(var(--txt-l) + #{$percent}))");
	--txt-dark: unquote("hsl(var(--txt-h), var(--txt-s), calc(var(--txt-l) - #{$percent}))");

	--txt-a1: unquote("hsl( calc(var(--txt-h) + #{$step}), var(--txt-s), var(--txt-l))"); 
	--txt-a2: unquote("hsl( calc(var(--txt-h) - #{$step}), var(--txt-s), var(--txt-l))"); 

	--txt-t1: unquote("hsl( calc(var(--txt-h) + 120), var(--txt-s), var(--txt-l))"); 
	--txt-t2: unquote("hsl( calc(var(--txt-h) + 240), var(--txt-s), var(--txt-l))"); 
	--txt-co: unquote("hsl( calc(var(--txt-h) + 180), var(--txt-s), var(--txt-l))"); 
	
}


@mixin hsl-txt($background, $color: false, $step: 15, $percent: 15%) {

	@if ($color) {
		$text-color: $color;
	} @else {
		$text-color: textcolor-tint($background);
	}

	@if (lightness($background) < 50) {

		@if (lightness($text-color) < 50) {
			$text-color: maxlighten($text-color,95)
		} 
		
	} @else {

		@if (lightness($text-color) > 50) {
			$text-color: maxdarken($text-color,5)
		}
	
	}

	@include hsl-txt-parse($text-color);
	@include hsl-txt-pallete($text-color,$step,$percent);
	
}


