$all-buttons: assign-inputs(['button','input[type="submit"]','input[type="reset"]','a.button']);
$all-heading: assign-inputs(['h1','h2','h3','h4','h5','h6']);

%flush-g-content {
	.g-content { margin:0; padding: 0; height: 100%; }
}

%flex-vcenter {
	display: flex; align-items: center; height: 100%;
}

%dropdown-column {
	width: var(--col-width);
}

%content-box {
	padding: $leading-margin;
	border-radius: $border-radius;
	margin: 0 0 $leading-margin 0;
}

