@function isnt-same($var1, $var2: false ) {
	@if $var1 == $var2 { 
		@return false; 
	} @else {
		@return true
	}
}  

@function if-not-empty($var) {
	@if ($var=='false') { @return false; }	
	@else if ($var=='0') { @return false; }	
	@else if ($var=='') { @return false; }	
	@else if ($var=='null') { @return false; }	
	@else if ($var==false) { @return false; } 
	@else if ($var==null) { @return false; }
	@return true;
}

@function if-is-empty($var,$default) {
	@if ($var=='false') { @return $default; }	
	@else if ($var=='0') { @return $default; }	
	@else if ($var=='') { @return $default; }	
	@else if ($var=='null') { @return $default; }	
	@else if ($var==false) { @return $default; } 
	@else if ($var==null) { @return $default; }
	@return $var;
}


@function maxlighten($color, $target: 90) {
	$val: $target - floor(lightness($color));
	@if $val < 0 { $val: 0%; }
	@if $val > $target { $val: $target/100; }
	@return lighten($color,$val);
}

@function maxdarken($color, $target: 15) {
	$val: floor(lightness($color))-$target;
	@if $val < 0 { $val: 0%; }
	@if $val > $target { $val: $target/100; }
	@return darken($color,$val);
}

@function textcolor-maxtint($color) {
 	@if (lightness($color) > 50) {
 		@return maxdarken($color);
	} @else {
    	@return maxlighten($color);
  	}	
}
	

// from nucleus

@function textcolor-tint($color, $amount: 65%) {
 	@if (lightness($color) > 50) {
 		@return darken($color, $amount);
	} @else {
    	@return lighten($color, $amount);
  	}	
}


// sometimes woff2 doesn't exist

@mixin font-face(
  $font-family,
  $file-path,
  $weight: normal,
  $style: normal,
  $asset-pipeline: $asset-pipeline,
  $file-formats: eot woff ttf svg) {

  $font-url-prefix: font-url-prefixer($asset-pipeline);

  @font-face {
    font-family: $font-family;
    font-style: $style;
    font-weight: $weight;

    src: font-source-declaration(
      $font-family,
      $file-path,
      $asset-pipeline,
      $file-formats,
      $font-url-prefix
    );
  }
}
