
$main-bg: #f7f7f7 !default;
$core-text: #444 !default;
$core-accent: #1BB3E9 !default;
$core-border-color: #d1d1d1 !default;
$body-border: darken($main-bg, 5%) !default;
$border-color: #EEEEEE !default;
$code-bg: #f9f2f4 !default;
$bottom-bg: #f7f7f7 !default;
$code-text: #c7254e !default;

$core-box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.06) !default;
$core-font-size: 1rem !default;
$core-line-height: 1.5 !default;

$content-margin: 0.625rem !default;
$content-padding: 0.938rem !default;

$dark-body-border: #666 !default;
$dark-main-bg: #333 !default;
$dark-navbar-text: #999 !default;
$dark-sidebar-text: #999 !default;
$dark-sidebar: #222 !default;
$feature-bg: #fff !default;
$footer-bg: #333 !default;
$footer-height: 6rem !default;
$footer-text: #999 !default;

$bullet-icon-size: 3.5rem !default;

$core-border-radius: rem(3) !default;
$border-radius: 3px !default;

$bottom-text: $core-text !default;
$breakpoints-desktop-container: 60.000rem !default;
$breakpoints-large-desktop-container: 75.000rem !default;
$breakpoints-large-mobile-container:30.000rem !default;
$breakpoints-mobile-container: 100% !default;
$breakpoints-mobile-menu-breakpoint:48.000rem !default;
$breakpoints-tablet-container: 48.000rem !default;

$header-height: 5rem !default;
$header-text: #FFFFFF !default;

$navbar-bg: #FFFFFF !default;
$navbar-text: #75879A !default;

$notes-info-bg: #FCF8F2 !default;
$notes-info-border: #F0AD4E !default;
$notes-note-bg: #F4F8FA !default;
$notes-note-border: #5BC0DE !default;
$notes-success-bg: #F1F9F1 !default;
$notes-success-border: #5CB85C !default;
$notes-warning-bg: #FDF7F7 !default;
$notes-warning-border: #D9534F !default;

$padding-horiz: 7rem !default;
$padding-vert: 3rem !default;

$page-bg: #fff !default;
$pre-bg: #f0f0f0 !default;
$pre-text: #237794 !default;
$responsive-font-size: 1vw !default;

$rule-color: #F0F2F4 !default;
$secondary-link: #F6635E !default;

$showcase-text: #fff !default;
$sidebar-text: #aaa !default;
