
/* heritaged apply */

$showcase-bg: lighten($core-accent, 6%) !default;

$core-border-color-focus: $core-accent !default;
$core-border-color: $light-gray !default;
$core-border-color-hover: darken($core-border-color, 10) !default;
$core-border-color-focus: $core-border-color-hover !default;
$core-box-shadow-focus: $core-box-shadow, 0 0 5px rgba(darken($core-border-color-focus, 5), 0.7) !default;

$bullet-icon-color-1: $core-accent !default;
$bullet-icon-color-2: adjust-hue($core-accent, -20) !default;
$bullet-icon-color-3: adjust-hue($core-accent, -130) !default;

$h1-font-size: $core-font-size + 1.25 !default;
$h2-font-size: $core-font-size + 0.90 !default;
$h3-font-size: $core-font-size + 0.50 !default;
$h4-font-size: $core-font-size + 0.15 !default;
$h5-font-size: $core-font-size !default;
$h6-font-size: $core-font-size - 0.15 !default;


$leading-margin: $core-line-height * 1rem !default;


// Breakpoint Variables For Particles

$media: "all" !default;
$mobile-only: "#{$media} and (max-width:#{$breakpoints-tablet-container - 0.062})" !default;
$no-mobile: "#{$media} and (min-width:#{$breakpoints-tablet-container})" !default;
$small-mobile-range: "#{$media} and (max-width:#{$breakpoints-large-mobile-container})" !default;
$large-mobile-range: "#{$media} and (min-width:#{$breakpoints-large-mobile-container + 0.063}) and (max-width:#{$breakpoints-tablet-container - 0.062})" !default;
$tablet-range: "#{$media} and (min-width:#{$breakpoints-tablet-container}) and (max-width:#{$breakpoints-desktop-container - 0.062})" !default;
$desktop-range: "#{$media} and (min-width:#{$breakpoints-desktop-container}) and (max-width:#{$breakpoints-large-desktop-container - 0.062})" !default;
$large-desktop-range: "#{$media} and (min-width:#{$breakpoints-large-desktop-container})" !default;
