$notices: (
	yellow: $colours-yellow,
	red: $colours-red,
	blue: $colours-blue,
	green: $colours-green
);

$notices-alias:(
	yellow: 'warning',
	red: 'error',
	blue: 'info',
	green: 'success'
);

$fa_icon: (
	warning: '\f071',
	error: '\f188',
	info: '\f05a',
	success: '\f046'
);


.notices {

	padding: $content-padding*2;
	margin-top: $content-margin;
	margin-bottom: $content-margin*2;
	background: var(--bg);
	color: var(--text);
	border-left-color: var(--border);
	border-left-style: solid;
	border-left-width: $content-margin;
	border-top-left-radius: $border-radius;
	border-bottom-left-radius: $border-radius;
	
	* { margin: 0 }

	@each $block, $color in $notices {
	
		$alias: map-get($notices-alias, $block);

		&.#{$alias},
		&.#{$block} { 
			@include block( maxlighten($color,95), $color ); 
		}
	}
}


[class^='alert-'] {
	padding: $content-padding;
    margin-bottom: $content-padding*2;
	border-radius: $core-border-radius;
	background-color: var(--bg);
	border: 1px solid var(--border);
	&:before {
		font-family:'FontAwesome';
		display: inline-flex;
		padding: $content-padding/2;
		margin-right: $content-padding;
		content: var(--icon);
		color: var(--icon-color);
	}
}

@each $block, $color in $notices {

	$name: map-get($notices-alias, $block);

	.alert-#{$name} {
		--icon: map-get($fa_icon, $name);
		--icon-color: darken($color,25%);
		--text: textcolor-tint($color);
		--bg: maxlighten($color,80);
		--border: rgba($color,0.3);
	}
	
}